$green-color: #01534d;
$green-container: #1b403a;
$white-container: #f5f5f5;
$mediaQueries: (
    mobile: 760px,
    tab: 1000px,
);

@mixin query($screen) {
    @each $key, $value in $mediaQueries {
        @if ($screen ==$key) {
            @media only screen and (max-width: $value) {
                @content;
            }
        }
    }
}

.buy-membership {
    .section-top {
        background: $green-container;
        position: relative;

        .content {
            padding: 1rem 0 5rem 0;

            .imgContainer {
                max-width: 200px;
            }

            .switchContainer {
                color: white;

                .switch {
                    ::ng-deep {
                        .p-inputswitch {
                            scale: 0.7;
                        }

                        .p-inputswitch .p-inputswitch-slider {
                            background: #ffffff1a;
                        }

                        .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
                            background: #2563eb;
                        }
                    }
                }
            }
        }
    }

    .section-bottom {
        .cardsContainer {
            top: 280px;
            margin-top: -20px;
            width: 100%;

            margin: 2rem;

            .cards {
                flex-wrap: wrap;

                        ::ng-deep {
                            .membership-card:not(:last-child) {
                                margin-right: 2rem;
                                margin-bottom: 1rem;
                            }

                            .membership-card {
                                padding: 1.5rem 0;
                                border-radius: 7px;
                                width: 246px;
                                background: white;
                                border: 2px solid #d6d6d6;
                                text-align: center;
                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                                .features {
                                    i {
                                        font-size: 10px;
                                    }
                                }

                                .buyButton {
                                    button {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    

    @include query(mobile) {
        .cards {
            .membership-card {
                margin: 10px 0;
            }
        }
    }

    @include query(tab) {
        .membership-card {
            width: 200px !important;
        }
    }

