.radioComponent {
    .radioBox {
        font-size: 12px;
        .flexBase {
            flex-basis: 35%;
        }
        ::ng-deep {
            p-radiobutton {
                scale: 0.6;
            }

            .p-radiobutton .p-radiobutton-box.p-highlight {
                background: var(--main-color);
                border-color: var(--main-color);
            }
        }

        .field-radiobutton {
            label {
                margin-left: 0.3rem;
            }
        }
    }
}
.common-svg {
    height: 100vh;
}
