<div class="container-xxl" *ngIf="_participantTypeList.length > 0">
    <div class="topbar">
        <div class="flex-vc flex-sb">
            <h6 class="p-green"><b class="fs-4">Registration</b> for {{_eventTitle}}</h6>
            <!-- <p class="p-combine">See All</p> -->
        </div>
    </div>
    <div class="radioComponent mt-4">
        <div class="heading">
            <p class="p-green"><b>Participant Type</b></p>
            <div class="radioBox mt-2">
                <div class="flex-vc">
                    <div class="flex-sb flexBase">
                        <div class="flex-vc  field-radiobutton" *ngFor="let item of _participantTypeList">
                            <p-radioButton [(ngModel)]="_participantType" [value]="item"
                                [inputId]="item.participant_type_id" (click)="participantclick(item)"></p-radioButton>
                            <label for="city1">{{item.participant_description}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="_loadComponents">
        <stupa-reg-single *ngIf="_participantType.participant_description === 'Singles'" [categories]="_categories"
            [_eventId]="_eventId"></stupa-reg-single>
        <stupa-reg-teams *ngIf="_participantType.participant_description === 'Team'" 
            [categories]="_categories" [_eventId]="_eventId"></stupa-reg-teams>
        <stupa-reg-doubles *ngIf="_participantType.participant_description === 'Doubles'" [categories]="_categories"
            [_eventId]="_eventId"></stupa-reg-doubles>
        <stupa-reg-mix-doubles *ngIf="_participantType.participant_description === 'Mix Doubles'"
            [categories]="_categories" [_eventId]="_eventId"></stupa-reg-mix-doubles>
    </div>
</div>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>
<p *ngIf="_participantTypeList.length === 0" >{{_pageSubTitle}}</p> 
<div class="common-svg" *ngIf="_participantTypeList.length === 0" >
    <stupa-common-svg-msg 
     [_pageMainTitle]="_pageMainTitle"
     [_pageSubTitle]="_pageSubTitle"></stupa-common-svg-msg>
</div>