<div class="dialogContainer">
  <p class="p-small p-green">
    Import member for adding them to list of officials
  </p>

  <div class="top-searchbar mt-3 mb-3">
    <div class="flex-vc">
      <div class="innerBox-input">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search..." [(ngModel)]="_searchTeams" (keyup)="findTeams()"
            (keypress)="findTeams()" (keydown)="findTeams()" />
        </span>
      </div>
      <!-- <div class="innerBox p-links">
        <i class="pi pi-filter-fill i-small p-secondary-dark"></i>
      </div>
      <div class="innerBox p-links">
        <i class="pi pi-align-right i-small p-secondary-dark"></i>
      </div> -->
    </div>
  </div>
  <table class="officialTable table table-responsive mt-4">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">State</th>
        <th scope="col">Email</th>
        <th scope="col">Verification</th>
        <th scope="col" class="flex-hc">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of _importOfficialList">
        <td scope="row">
          {{ data.name }}
        </td>
        <td>{{ data.role }}</td>
        <td>{{ data.state }}</td>
        <td>{{ data.email }}</td>
        <td [style.color]="
            data.verified === false || data.verified == null
              ? 'var(--danger-color)'
              : 'var(--success-color)'
          ">
          {{ data.verified ? "Verified" : "Not Verified" }}
        </td>
        <td class="" style="text-align:center;">
          <i class="p-links p-combine i-small pi pi-download" (click)="addEventOfficial(data)"></i>
        </td>
      </tr>
      <tr *ngIf="_importOfficialList.length == 0">
        <td colspan="8">No record found.</td>
      </tr>
    </tbody>
  </table>
</div>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>
<p-toast position="bottom-center" key="bc"></p-toast>