<div class="container-xxl dashboard">
    <div class="innerContent">
        <div class="heading">
            <h3 class="p-secondary"><b>Dashboard</b></h3>
        </div>
        <div class="dashboard-card-row mt-4">
            <div class="row">
                <div class="col-xl-4">
                    <div class="dashboard-card _signupManagement" routerLink="/profile-menu/dashboard-single">
                        <div class="d-flex mx-4">
                            <div class="dashboard-card-written">
                                <h6 class="mb-2 text-overflow"><b>Athletes</b></h6>
                                <p class="p-small text-overflow">View Athletes.</p>
                            </div>
                        </div>
                        <div class="arrow-next d-flex justify-content-end">
                            <div class="imgcontainer">
                                <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="dashboard-card _participants" routerLink="/profile-menu/dashboard-teams">
                        <div class="d-flex mx-4">
                            <div class="dashboard-card-written">
                                <h6 class="mb-2 text-overflow"><b>Teams</b></h6>
                                <p class="p-small text-overflow">Create and View Teams.</p>
                            </div>
                        </div>
                        <div class="arrow-next d-flex justify-content-end">
                            <div class="imgcontainer">
                                <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="dashboard-card _participants" routerLink="/profile-menu/dashboard-doubles">
                        <div class="d-flex mx-4">
                            <div class="dashboard-card-written">
                                <h6 class="mb-2 text-overflow"><b>Doubles</b></h6>
                                <p class="p-small text-overflow">Create and View Doubles.</p>
                            </div>
                        </div>
                        <div class="arrow-next d-flex justify-content-end">
                            <div class="imgcontainer">
                                <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="dashboard-card _participants" routerLink="/profile-menu/dashboard-mix-doubles">
                        <div class="d-flex mx-4">
                            <div class="dashboard-card-written">
                                <h6 class="mb-2 text-overflow"><b>Mixed Doubles </b></h6>
                                <p class="p-small text-overflow">Create and View Mixed-Doubles.</p>
                            </div>
                        </div>
                        <div class="arrow-next d-flex justify-content-end">
                            <div class="imgcontainer">
                                <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>