<!-- <p>personal-details works asdf!</p> -->
<div class="personal-details-container">
    <div class="container">
        <div class="FirstSection">
            <h1>Personal Details</h1>
            <button>Edit</button>

        </div>

        <div class="secondSection mt-4">
            <div class="leftsection">
                <p>Profile Image</p>
                <p>This will be displayed as your profile</p>
            </div>
            <div class="rightsection">
                <input type="file" accept="image/x-png, image/jpg, image/jpeg">
                <img src="../../../assets/icons/Upload to Cloud.png" alt="">
            </div>
            <!-- <div class="row">
                <div class="col-lg-6">
                    <div class="leftsection">
                        <p>Profile Image</p>
                        <p>This will be displayed as your profile</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rightsection">
                        <input type="file" accept="image/x-png, image/jpg, image/jpeg">
                    </div>
                </div>
            </div> -->
        </div>
        <div class="thirdSection mt-4">
            <div class="leftsection">
                <p>Name</p>
                <p>This will be displayed as your profile</p>
            </div>
            <div class="rightsection">
                <input type="text" name="" id="" placeholder="Govind singh">
            </div>
          
        </div>
        <div class="fourthSection mt-4">
            <div class="leftsection">
                <p>Email</p>
                <p>You can’t change your E-Mail!</p>
            </div>
            <div class="rightsection">
                <input type="email" name="" id="" placeholder="asdf@email.com">
            </div>
         
        </div>
        <div class="fifthSection mt-4">
            <div class="leftsection">
                <p>Mobile</p>
                <p>Contact Details</p>
            </div>
            <div class="rightsection">
                <input type="number" name="" id="" placeholder="98420-42098">
            </div>
      
        </div>
        <div class="sixthSection mt-4">
            <div class="leftsection">
                <p>City</p>
            </div>
            <div class="rightsection">
                <input type="text" name="" id="" placeholder="London">
            </div>
          
        </div>
    </div>
</div>