<div class="container" *ngIf="event!=null">    
    <div  class="" data-aos="fade-left" data-aos-duration="1000" *ngIf="false">
        <div class="">
            <div class="topBar">
                <div class="headings mt-3">
                    <h4 class="p-green"><b>Add Officials</b></h4>
                    <p class="mt-3 p-green p-small">Here you can see a list of officials added to the event and imports
                        for
                        use, add officials directly to system event.</p>
                </div>
                <div class="centerElement mt-5">
                    <div class="boxes">
                        <div class="fillBox">
                            <div class="flex-vc filler">
                                <div class="info">
                                    <div class="innerContent">
                                        <p>Add officials to the event and send their detials for verification</p>
                                        <div class="eventText">
                                            <div routerLink="/event/add-official/add-members" class="flex-vc p-links">
                                                <h4>Add Members</h4>
                                                <i class="pi pi-arrow-right ms-2"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="representer">
                                    <div class="imgContainer">
                                        <iframe src="../../../assets/icons/svg/official-addMember.svg"
                                            class="img-fluid"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fillBox">
                            <div class="flex-vc filler">
                                <div class="info">
                                    <div class="innerContent">
                                        <p>View a list of all officials added to the event or import
                                            more members for use</p>
                                        <div class="eventText">
                                            <div routerLink="/event/add-official/official-list" class="flex-vc p-links">
                                                <h4>View List of Members</h4>
                                                <i class="pi pi-arrow-right ms-2"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="representer">
                                    <div class="imgContainer">
                                        <iframe src="../../../assets/icons/svg/official-viewMember.svg"
                                            class="img-fluid"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <stupa-official-list></stupa-official-list>
</div>
<stupa-common-svg-msg *ngIf="event===null" (eventClicked)="eventClicked()"></stupa-common-svg-msg>