.footer-management {
  padding: 1rem;

  .backbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: noflexItems ne;
    background: transparent;
  }

  .footer-tabView {
    .tabContainer {
      margin-right: 2rem;
      margin-top: 2rem;
      position: relative;

      .arrowTop {
        position: fixed;
        cursor: pointer;
        bottom: 10vh;
        right: 1.5vw;

        .box {
          width: 2vw;
          height: 8vh;
          border: 1px solid var(--combinating-color);
          border-radius: 3px;
          position: relative;

          .flexTop {
            i {
              position: absolute;
              top: 15%;
              left: 50%;
              transform: translate(-50%, 0%);
              color: var(--combinating-color);
              font-size: 12px;
            }
          }
        }
      }

      .arrowTop:hover {
        i {
          animation: _bouncingArrow 0.7s linear;
        }
      }

      .innerBox {
        padding: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      }
    }

    ::ng-deep {
      .header {
        margin: 1.5rem 0;
        color: var(--secondary-color);
      }

      hr.divider {
        width: 100%;
        margin: 0;
      }

      input {
        border: none;
        padding-left: 0 !important;
      }

      input:focus {
        box-shadow: 0 000 !important;
      }

      .p-tabview {
        font-family: "Gotham", sans-serif !important;
        font-weight: 300 !important;
        font-size: 90%;
      }

      .p-tabview-panels {
        padding: 0;
        color: var(--text-color);
      }

      .p-tabview .p-tabview-nav {
        border: 2px solid white;
      }

      .p-tabview .p-tabview-nav li:focus-within {
        outline: none;
      }

      .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        padding: 0.5rem 1.25rem;
        border: none;
      }

      .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        color: var(--main-color);
        border-bottom: 2px solid var(--combinating-color);
      }

      .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: 0 0 0 0 !important;
      }
    }
  }
}

@keyframes _bouncingArrow {
  0% {
    top: 15%;
  }

  50% {
    top: 60%;
  }

  100% {
    top: 15%;
  }
}
.centerElement {
  .midCol {
    display: flex;
    justify-content: center;
    .divider {
      height: 100%;
      width: 1px;
      background-color: var(--secondary-color);
    }
  }
  .typeWidth {
    min-width: 15vw;
  }
}
.common-tabView {
  .detail-input {
    label {
      color: var(--secondary-color);
    }

    input {
      border-bottom: 1px solid var(--secondary-color) !important;
      border: none;
      border-radius: 0 !important;
      background-color: transparent;
      font-size: 18px;
      color: var(--main-color);
      font-weight: bold;
      padding-left: 0;
    }
    ::ng-deep {
      #generateFixure {
        .p-dropdown-label {
          width: 13vw !important;
        }
      }
      .p-multiselect {
        border: none;
        border-bottom: 1px solid #5555;
        border-radius: 0;
      }
      .p-dropdown {
        border-bottom: 1px solid var(--secondary-color) !important;
        border: none;
        border-radius: 0 !important;
        background-color: transparent;
        font-size: 18px;
        .p-dropdown-label {
          padding-left: 0;
          font-weight: bold;
          color: var(--main-color);
        }
        .p-dropdown-label.p-placeholder {
          color: #6c757d !important;
          font-size: 14px !important;
        }
      }
    }
  }
  ::ng-deep {
    .p-tabview .p-tabview-nav li {
      // width: 100px;
      display: flex;
      // justify-content: center;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }

    .p-datatable .p-datatable-header {
      background: transparent;
      color: #343a40;
      border: none;
      border-width: 1px 0 1px 0;
      padding: 1rem 0;
      font-weight: 700;
    }

    .btnGreen {
      background-color: var(--main-color);
      padding: 0.2rem 0.5rem;
    }
    .btnOrange {
      background-color: var(--combinating-color);
      padding: 0.2rem 0.3rem;
      // svg{
      //   margin-left: -2px;
      // }
    }
    .p-datatable .p-datatable-thead > tr > th {
      padding: 0.6rem 1rem;
      border: none;
      background: #f8f8f8;
    }
  }

  #headerInput {
    background-color: #f8f8f8 !important;
    border: none;
  }

  .heading {
    font-size: 13px;
    color: var(--secondary-color);
    margin: 1rem 0;
  }

  .topBar {
    font-size: 90% !important;

    .radioBox {
      padding: 5px 0;
      ::ng-deep {
        p-radiobutton {
          scale: 0.6;
        }

        .p-radiobutton .p-radiobutton-box.p-highlight {
          background: var(--main-color);
          border-color: var(--main-color);
        }
      }

      .field-radiobutton {
        label {
          margin-left: 0.3rem;
        }
      }
    }
  }

  .common-tabView {
    .p-tabview {
      font-family: "Gotham", sans-serif !important;
      font-weight: 300 !important;
      font-size: 100% !important;
    }

    .topBar {
      .steps {
        width: 420px;

        ::ng-deep {
          .p-steps {
            font-family: "Gotham" !important;

            .p-steps-item .p-menuitem-link .p-steps-number {
              color: var(--main-color);
              border: 1px solid var(--main-color);
            }

            .p-steps-item.p-steps-current .p-menuitem-link {
              .p-steps-number {
                color: var(--primary-color) !important;
                background: var(--main-color) !important;
              }
            }

            .p-steps-number {
              min-width: 1.5rem;
              height: 1.5rem;
              font-size: 12px;
            }

            .p-steps-title {
              font-size: 12px;
              color: var(--main-color);
              margin-top: 0;
            }

            .p-steps-item:before {
              top: 65%;
            }

            .p-steps-item:last-child::before {
              width: 50%;
              right: 50%;
            }

            .p-steps-item:first-child::before {
              width: 50%;
              left: 50%;
            }
          }
        }
      }
    }
  }
}

.common-popup {
  .topBar,
  .player-list {
    padding: 10px 5px;
  }
}
.btnFilter {
  .btn {
    height: 38px;
    svg {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
