<div class="settings" *ngIf="!signUpManagement && !roleManagement && !memberManagement">
    <div class="setting-component">
        <h6><b>{{'manageSidebar.manage' | translate}}</b></h6>
        <div class="setting-card-row mt-4">
            <div class="row">
                <div class="col-xl-4">
                    <div class="setting-card _signupManagement" (click)="currentMangemanet('banners')">
                        <div class="d-flex mx-4">
                            <div class="imgCover">
                                <div class="imgcontainer">
                                    <img src="../../../assets/icons/setting-card-icon-1.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="setting-card-written">
                                <h6 class="mb-2 text-overflow"><b>{{'signUp.signUp' | translate}}</b></h6>
                                <p class="p-small text-overflow">SignUp Management</p>
                            </div>
                        </div>
                        <div class="arrow-next d-flex justify-content-end">
                            <div class="imgcontainer">
                                <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="setting-card _roleManagement" (click)="currentMangemanet('brand')">
                        <div class="d-flex mx-4">
                            <div class="imgCover">
                                <div class="imgcontainer">
                                    <img src="../../../assets/icons/flag-icon-black.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="setting-card-written">
                                <h6 class="mb-2 text-overflow"><b>Role Management</b></h6>
                                <p class="p-small text-overflow">Role Management System</p>
                            </div>
                        </div>
                        <div class="arrow-next d-flex justify-content-end">
                            <div class="imgcontainer">
                                <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="setting-card _roleManagement" (click)="currentMangemanet('membership')">
                        <div class="d-flex mx-4">
                            <div class="imgCover">
                                <div class="imgcontainer">
                                    <img src="../../../assets/icons/flag-icon-black.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="setting-card-written">
                                <h6 class="mb-2 text-overflow"><b>Membership Management</b></h6>
                                <p class="p-small text-overflow">Membership Management System</p>
                            </div>
                        </div>
                        <div class="arrow-next d-flex justify-content-end">
                            <div class="imgcontainer">
                                <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="common">
    <div class="flex-vc">
        <button class="backbtn ms-3" *ngIf="signUpManagement || roleManagement || memberManagement" (click)="goback()">
            <img class="me-2" width="10" src="../../../assets/icons/angle-left.png" alt="">{{'sidebar.back' |translate}}
            <!-- Manage -->
        </button>
        <!-- <div *ngIf="_breadcrumb!==''" class="breadcrumbChild flex-vc">
            <i class="pi pi-chevron-right"></i>
            <p class="fadeText">{{_breadcrumb}}</p>
        </div> -->
    </div>
    <app-signup-management *ngIf="signUpManagement"></app-signup-management>
    <app-role-management *ngIf="roleManagement"></app-role-management>
    <app-mamber-management *ngIf="memberManagement"></app-mamber-management>
</div>