$greyColor: #e9e9e9;
$mediaQueries: (
    mobile: 576px,
    tab: 1000px,
);

@mixin query($screen) {
    @each $key, $value in $mediaQueries {
        @if ($screen ==$key) {
            @media only screen and (max-width: $value) {
                @content;
            }
        }
    }
}

.settings {
    .setting-component {
        padding: 1.5rem;

        .setting-card-row {
            .col-xl-4 {
                margin: 0.5rem 0;
            }
            .setting-card {
                cursor: pointer;
                padding: 2rem 0.5rem 0.5rem 0.5rem;
                border: 2px solid $greyColor;
                border-radius: 5px;

                .imgCover {
                    width: 40px;
                    height: 40px;
                    padding: 0.66rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    background: $greyColor;

                    .imgcontainer {
                        width: 15px;

                        img {
                            margin: auto;
                        }
                    }
                }

                .setting-card-written {
                    margin-left: 1rem;
                    overflow: hidden;
                }
            }

            .arrow-next {
                justify-content: flex-end;
                margin: 1rem 0 0 0;

                .imgcontainer {
                    width: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}

.common {
    .backbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: transparent;
    }

    .breadcrumbChild {
        i {
            font-size: 10px;
        }

        .fadeText {
            color: #bcbcbc;
            margin-left: 10px;
        }
    }
}
