<div class="create-membership">
    <div class="create-membership-form">
        <form [formGroup]="_memberShipForm" action="">
            <div class="inputComponent">
                <div class="flex-e">
                    <p>Unpublish </p>
                    <p-inputSwitch [formControlName]="'published'" class="flex-vc flex-hc">
                    </p-inputSwitch>
                    <p>Publish </p>
                </div>
            </div>
            <div class="inputComponent">
                <label for="inputname">Name</label>
                <input inputId="inputname" type="text" pInputText [formControlName]="'roleTitle'"
                    placeholder="E.g - Standard, Premium, Elite, Lite, Pro etc..">
                <div class="error-txt-msg mb-2"
                    *ngIf="_isSubmit && _memberShipForm.controls['roleTitle'].hasError('required')" style="color: red">
                    Name Is Required Field.
                </div>
            </div>
            <div class="inputComponent">
                <label for="inputname">Type Of Membership</label>
                <p-dropdown [options]="_typeOfMemberShip" [formControlName]="'merberShipType'" optionLabel="typeName"
                    appendTo="body" placeholder="Select">
                </p-dropdown>
                <div class="error-txt-msg mb-2"
                    *ngIf="_isSubmit && _memberShipForm.controls['merberShipType'].hasError('required')"
                    style="color: red">
                    Type Of Membership Is Required Field.
                </div>
            </div>
            <div class="inputComponent" *ngIf="false">
                <label for="inputname">Currency</label>
                <p-dropdown [options]="currency" appendTo="body" placeholder="Select currency">
                </p-dropdown>
            </div>
            <div class="inputComponent">
                <label for="inputname">Amount</label>
                <input inputId="inputname" [formControlName]="'amount'" type="number" pInputText placeholder="E.g - $45"
                    min="0">
                <div class="error-txt-msg mb-2"
                    *ngIf="_isSubmit && _memberShipForm.controls['amount'].hasError('required')" style="color: red">
                    Amount Is Required Field.
                </div>
            </div>
            <div class="inputComponent">
                <label for="basic">Start Date</label>
                <p-calendar [minDate]="_currentDate" inputId="basic" appendTo="body" [formControlName]="'startDate'"
                    placeholder="Select Start Date">
                </p-calendar>
                <div class="error-txt-msg mb-2"
                    *ngIf="_isSubmit && _memberShipForm.controls['startDate'].hasError('required')" style="color: red">
                    Start Date Is Required Field.
                </div>
            </div>
            <div class="inputComponent">
                <label for="inputname">Valid Till</label>
                <p-dropdown [minDate]="_currentDate" [options]="_validTill" [formControlName]="'mermberShipPeriod'"
                    optionLabel="name" appendTo="body" placeholder="Select" (onChange)="setExpireDate($event)">
                </p-dropdown>
                <div class="error-txt-msg mb-2"
                    *ngIf="_isSubmit && _memberShipForm.controls['mermberShipPeriod'].hasError('required')"
                    style="color: red">
                    Role Name Is Required Field.
                </div>
            </div>
            <div class="inputComponent" *ngIf="_showValidDate">
                <label for="inputname">Valid Till</label>
                <p-calendar [minDate]="_currentDate" [disabled]="true" inputId="basic" [formControlName]="'validDate'"
                    placeholder="01/12/2023(Date)" appendTo="body">
                </p-calendar>

            </div>
            <div class="inputComponent">
                <label for="inputname">Late Fees</label>
                <p-dropdown [options]="_lateFees" [formControlName]="'lateFee'" (onChange)="getLateFee($event)" #fee
                    optionLabel="name" appendTo="body" placeholder="Select">
                </p-dropdown>
                <div class="error-txt-msg mb-2"
                    *ngIf="_isSubmit && _memberShipForm.controls['lateFee'].hasError('required')" style="color: red">
                    Late Fees Is Required Field.
                </div>
            </div>

            <div class="inputComponent" *ngIf="lateFeeData ==='Yes'">
                <div>
                    <div class="row feeRow" *ngFor="let item of _penaltiesData;let i=index">
                        <div class="col-md-6">
                            <label for="basic">Due Date</label>
                            <p-calendar inputId="basic" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.date"
                                [minDate]="_currentDate" placeholder="01/12/2023(Calender)" appendTo="body">
                            </p-calendar>
                            <div class="error-txt-msg mb-2" *ngIf="_isSubmit && item.date==''" style="color: red">
                                Due Date Is Required Field.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="basic">Late Fee</label>
                            <input inputId="inputname" type="number" [ngModelOptions]="{standalone: true}" min="0"
                                [(ngModel)]="item.amount" pInputText placeholder="$500">
                            <div class="error-txt-msg mb-2" *ngIf="_isSubmit && item.amount==''" style="color: red">
                                Late Fees Is Required Field.
                            </div>
                        </div>
                        <span class="deleteRow w-auto p-links" *ngIf="_penaltiesData.length>1"
                            (click)="deletePenalties(item)">
                            <img src="../../../../assets/icons/delete-icon.png" width="20" alt="">
                        </span>
                    </div>
                    <div class="addDue" *ngIf="_penaltiesData.length<3">
                        <a (click)="addMorePenaties()" class="p-small">Add Due Date</a>
                    </div>
                </div>
            </div>
            <div class="inputComponent">
                <label for="inputname">Level of the Event</label>
                <div class="levels my-2">
                    <div class="d-flex my-2" *ngFor="let items of _eventLevels">
                        <input type="checkbox" id="inputCheckbox" [checked]="items.checked"
                            (click)="selectedLevels(items,$event)" class="htmlCheckbox me-2">
                        <label for="inputCheckbox" class="p-small">{{items.name}}</label>
                    </div>
                </div>
            </div>
            <div class="inputComponent" *ngIf="true">
                <div class="flex-sb">
                    <label for="inputname">Describe Features</label>
                </div>
                <div class="inner-inputComponent my-3" *ngFor="let item of _describeFeatures ;let i=index">
                    <span class="p-input-icon-right">
                        <i class="pi pi-trash delIcon" (click)="deleteDecribeFields(i)"
                            *ngIf="_describeFeatures.length>1"></i>
                        <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.value" pInputText
                            placeholder="Enter..." />
                    </span>
                </div>
                <div class="flex-sb">
                    <label for="inputname"></label>
                    <a (click)="addFields()" class="p-small p-links">{{'home.addField'|translate}}</a>
                </div>
            </div>
            <div class="inputComponent" *ngIf="false">
                <div class="flex-vc">
                    <input type="checkbox" [formControlName]="'published'" id="inputCheckbox"
                        class=" htmlCheckbox me-2">
                    <label for="inputCheckbox" class="p-small ms-2">Publish/Unpublish</label>
                </div>

            </div>
            <button class="btn btn_green" (click)="createMemberShip()" *ngIf="!_isUpdate">Save</button>
            <button class="btn btn_green" (click)="updateMemberShip()" *ngIf="_isUpdate">Update</button>

        </form>
    </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>