.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    font-weight: bold;
  }
}

.left-text {
  h5 {
    color: var(--main-color);
  }
}

.right-text {
  display: flex;
  align-items: center;

  p {
    color: var(--combinating-color);
  }
}

.right-text img:hover {
  // animation: rotate 0.7s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.middleSection {
  .heading {
    p {
      font-weight: bold;
      color: var(--secondary-color);
    }
  }
  .flexing {
    display: flex;
    align-items: center;
    gap: 8px;
    p {
      margin-right: 10px;
      color: var(--secondary-color);
    }
  }
}
.mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.f {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.host {
  ::ng-deep {
    .p-dropdown {
      width: 30%;
    }
  }
}

input[type="radio"] {
  width: 14px;
  accent-color: var(--main-color-light);
}

th,
td {
  font-weight: bold;
  padding: 6px 10px;
}

.greenColor {
  color: var(--main-color-light);
}
.orangeColor {
  color: var(--combinating-color);
}

.radioBox {
  ::ng-deep {
      p-radiobutton {
          scale: 0.6;
      }
      .p-radiobutton .p-radiobutton-box.p-highlight {
          background: var(--main-color);
          border-color: var(--main-color);
      }
  }
  .field-radiobutton {
      label {
          margin-left: 0.3rem;
      }
  }
}


.p-inputNumber{
  color: var(--combinating-color);
  max-height: 10px; 
}
.p-tabview-nav-link {
  color: var(--main-color);
  bottom: 10px;
  border-bottom: 1px solid #f6bb41;
  max-height: 20.5px;
  width: 75%;
}


