<div class="container" *ngIf="event!=null">
    <form [formGroup]="_rankPointerForm" action="">
    <div class="flex-header">
        <div class="left-text">
            <h5>Allot Rank Pointers</h5>
        </div>
        <div class="right-text p-links">
            <p (click)="reset()"> Reset</p> <img src="../../../../assets/icons/round-arrow.png" width="11" height="11" alt="">
        </div>
    </div>
    <p class="mt-3">You can allot Rank pointers to the specific category.</p>


    <div class="middleSection mt-3">
        <div class="heading">
            <p>Select Participant Type</p>
            <div class="innerContent col-lg-6">
                <div class="radioBox mt-2">
                    <div class="flex-vc flex-sb">
                        <div class="flex-vc field-radiobutton" *ngFor="let item of _selectedFixtureFormat">
                            <p-radioButton  [value]="item.participant_description" name="participantType" (click)="showRegistrations(item.participant_description)"
                                [(ngModel)]="_selectedParticipantTypes[0]" [ngModelOptions]="{standalone: true}">
                            </p-radioButton>
                            <label [for]="item.participant_description">{{item.participant_description}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-8">
            <div class="host ">
                <p-dropdown (onChange)="getRounds()"  [options]="_display" placeholder="Category Name" optionLabel="category_description" optionValue="category_id"
                    [filter]="true" [formControlName]="'_category'"></p-dropdown>
            </div>
            <div class="error-txt-msg mb-2"
                                *ngIf="_isSubmitRankPoints && _rankPointerForm.controls['_category'].hasError('required')"
                                style="color: red">
                                <span style="color: red">*</span>{{'signupmanagement.req'|translate}}
                            </div>
        </div>

        <div *ngIf="_showPoints" class="col-lg-2">
            <table>
                <thead>
                    <tr>
                        <td class="greenColor">Rank</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of _rounds">
                        <td class="greenColor">{{item.round_description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="_showPoints" class="col-lg-2">
            <table>
                <thead>
                    <tr>
                        <td class="orangeColor">Points</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of _rounds">
                        <td class="orangeColor">
                            <p-inputNumber [inputStyle]="{color: '#ff783e'}" class="p-inputtext-sm p-tabview-nav-link"  placeholder="set Points" [(ngModel)]="item.points"
                            [ngModelOptions]="{standalone: true}">
                            </p-inputNumber>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>

    <div class="update flex-e mt-4">
        <button class="btn btn_green w-auto m-0" (click)="allotRankPointers()">Update</button>
    </div>

</form>
</div>
<stupa-common-svg-msg *ngIf="event===null" (eventClicked)="eventClicked()"></stupa-common-svg-msg>
<p-toast position="bottom-center" key="bc"></p-toast>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>