.createOfficial {
    .topBar {
        .svg-combine {
            svg {
                path {
                    fill: var(--combinating-color) !important;
                }
            }
        }
    }
    .profile {
        .leftSection {
            .btnReupload {
                background-color: #d9d9d9 !important;
                color: var(--main-color) !important;
            }
            .profilecircle {
                ::ng-deep {
                    .p-avatar {
                        width: 6rem;
                        height: 6.3rem;
                    }
                }
            }
        }
    }
    .fileUpload {
        .leftSection {
            .btnReupload {
                background-color: #d9d9d9 !important;
                color: var(--main-color) !important;
            }
            .profilecircle {
                position: relative;
                ::ng-deep {
                    .p-avatar {
                        width: 6rem;
                        height: 6.3rem;
                    }
                }
                .fitContent {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
        }
    }
    .detail-input {
        label {
            color: var(--secondary-color);
        }

        input {
            border-bottom: 1px solid var(--secondary-color) !important;
            border: none;
            border-radius: 0 !important;
            background-color: transparent;
            font-size: 18px;
            color: var(--main-color);
            font-weight: bold;
            padding-left: 0;
        }
        ::ng-deep {
            .p-multiselect {
                border: none;
                border-bottom: 1px solid #5555;
                border-radius: 0;
            }
            .p-dropdown {
                border-bottom: 1px solid var(--secondary-color) !important;
                border: none;
                border-radius: 0 !important;
                background-color: transparent;
                font-size: 18px;
                .p-dropdown-label {
                    padding-left: 0;
                    font-weight: bold;
                    color: var(--main-color);
                }
                .p-dropdown-label.p-placeholder {
                    color: #6c757d !important;
                    font-size: 14px !important;
                }
            }
        }
    }
    .bottomContainer {
        .skeletonTable {
            thead {
                background-color: var(--f1-color);
            }
            tbody {
                td {
                    color: var(--main-color);
                }
                .remover {
                    color: var(--danger-color);
                }
            }
        }
        .table > :not(caption) > * > * {
            border: none;
        }
    }
    .input-attachment {
        display: none;
    }
}
.backBtn {
    background: none;
    border: 1px solid black;
    border-radius: 50px;
    left: 368px;
    height: 25px;
    width: 25px;
}
