<div class="settings">
    <div class="setting-component">
        <h6><b>Settings</b></h6>
        <div [ngClass]="innerWidth > 576 ? 'setting-card-row d-flex mt-4':'setting-card-row settingFlex mt-4'">
            <div class="setting-card _banners" (click)="currentMangemanet('banners')">
                <div class="d-flex mx-4">
                    <div class="imgCover">
                        <div class="imgcontainer">
                            <img src="../../../assets/icons/setting-card-icon-1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="setting-card-written">
                        <h6 class="mb-2"><b>Banners</b></h6>
                        <p style="font-size: 10px;">You can create or manage fields</p>
                    </div>
                </div>
                <div class="arrow-next d-flex justify-content-end">
                    <div class="imgcontainer">
                        <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="setting-card _footer" (click)="currentMangemanet('footer')">
                <div class="flex-s mx-4">
                    <div class="imgCover">
                        <div class="imgcontainer">
                            <img src="../../../assets/icons/flag-icon-black.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="setting-card-written">
                        <h6 class="mb-2"><b>Footer</b></h6>
                        <p style="font-size: 10px;">You can create or manage roles</p>
                    </div>
                </div>
                <div class="arrow-next d-flex justify-content-end">
                    <div class="imgcontainer">
                        <img src="../../../assets/icons/arrow-right-big.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="common">
    <button class="backbtn ms-3" *ngIf="banners || footer" (click)="goback()">
        <img class="me-2" width="10" src="../../../assets/icons/angle-left.png" alt="">
        Back
    </button>

</div>