<!-- <p>live-layout works!</p> -->

<!-- upper container -->
<div class="main" *ngIf="event!= null">
  <div class="flex-header">
    <div class="left-text">
      <!-- <h5>Live Stream</h5> -->
    <h4>{{ "tms.liveStream" | translate }}</h4>
    </div>
    <div class="right-text p-links">
      <p (click)="reset()">Reset</p>
      <img
        src="../../../../assets/icons/round-arrow.png"
        width="11"
        height="11"
        alt=""
      />
    </div>
  </div>
  <!-- <nav class="f-nav">
    <h4>{{ "tms.liveStream" | translate }}</h4>
    <p (click)="reset()" class="org p-links">
      {{ "liveStream.reset" | translate }}
      <span> <i class="pi pi-replay i-small p-combine ms-1"></i></span>
    </p>

    <p (click)="reset()">Reset</p>
    <img
      src="../../../../assets/icons/round-arrow.png"
      width="15px"
      height="15px"
      alt=""
    />

  </nav> -->
  <p class="subheading my-2">You can upload Live stream videos here.</p>

  <div class="row row_margin_top">
    <div class="col-lg-8">
      <p class="color">
        {{ "liveStream.streamQuality" | translate }}
      </p>
      <div class="c">
        <p class="">{{ "liveStream.streamDef" | translate }}</p>
        <!-- <span><a target="_blank"
                    href="https://www.google.com/">More</a></span> -->
      </div>
    </div>

    <div class="col-lg-4 color">
      <div class="wrapper" id="radio">
        <input
          type="radio"
          name="same"
          id="label"
          [checked]="_quality1080"
          (click)="setChecked(1080)"
        />
        <input
          type="radio"
          name="same"
          id="label2"
          [checked]="_quality720"
          (click)="setChecked(720)"
        />
        <div class="box box1">
          <label class="label mx-4" for="label">
            <div class="text">
              {{ "liveStream.highQ" | translate }} <span>1080p</span>
            </div>
            <div class="dot"></div>
          </label>
        </div>
        <div class="box box2 my-3">
          <label class="label2 mx-4" for="label2">
            <div class="text">
              {{ "liveStream.lowQ" | translate }} <span>480p</span>
            </div>
            <div class="dot"></div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container2" *ngIf="event != null">
  <div class="p1">
    <p>{{ "liveStream.logoPlacement" | translate }}</p>
  </div>
  <div class="p2">
    <p>{{ "liveStream.whatKindofQuality" | translate }}</p>
  </div>

  <div class="grid-section" id="file">
    <div class="grid-item1">
      <input type="file" (change)="selectImage_1($event)" id="upload_image" />
      <div class="upload-box">
        <label for="upload_image" class="lable">
          <div class="img">
            <!-- <img
              [src]="__url" style="max-width: 3rem;
              min-height: 2rem;"
            /> -->
            <img
              width="30px "
              height="30px"
              src="../../../../assets/icons/upload-icon.png"
              alt=""
            />
          </div>
          <div class="my-3 center-text">
            <p>{{ "liveStream.uploadImgSize" | translate }}</p>
          </div>
          <div class="last-text">
            <p>LOGO 1</p>
          </div>
        </label>
      </div>
    </div>

    <div class="grid-item2">
      <div class="upload-box image-cont">
        <div class="image-center-text">Your Video</div>
        <div class="flex-logo mx-3">
          <div class="_1 logo">
            <p>
              logo1
              <img
                [src]="__url"
                style="min-width: 5rem; max-height: 2rem; border-radius: 0.7rem"
                alt=""
              />
            </p>
          </div>
          <div class="_2 logo">
            <p>
              logo2
              <img
                [src]="__url2"
                style="min-width: 5rem; max-height: 2rem; border-radius: 0.7rem"
                alt=""
              />
            </p>
          </div>
        </div>
        <div class="stupaLogo">
          <img
            width="60px"
            height="35px"
            src="../../../../assets/icons/stupalogoSmall.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="grid-item3">
      <input type="file" (change)="selectImage($event)" id="upload_image2" />
      <div class="upload-box">
        <label for="upload_image2" class="lable2">
          <div class="img">
            <!-- <img
              [src]="__url2" style="max-width: 3rem;
              min-height: 2rem;"
            /> -->
            <img
              width="30px "
              height="30px"
              src="../../../../assets/icons/upload-icon.png"
              alt=""
            />
          </div>
          <div class="my-3 center-text">
            <p>{{ "liveStream.uploadImgSize" | translate }}</p>
          </div>
          <div class="last-text">
            <p>LOGO 2</p>
          </div>
        </label>
      </div>
    </div>
    <!-- <div class="grid-item3">
            <input type="file" id="upload_image2">
            <div class="upload-box">
                <label for="upload_image2" class="lable2">
                    <div class="img my-3"><img width="30px " height="30px"
                            src="../../../../assets/icons/upload-icon.png" alt=""></div>
                    <div class="my-3 center-text">
                        <p>{{'liveStream.uploadImgSize' |translate}}</p>
                    </div>
                    <div class="last-text">
                        <p>LOGO 2</p>
                    </div>
                </label>
            </div>
        </div> -->
  </div>

  <div class="flex-footer">
    <div class="left-text">
      <p>{{ "liveStream.successfullyUpdated" | translate }}</p>
    </div>
    <div class="right-button">
      <button>{{ "footer.update" | translate }}</button>
    </div>
  </div>
</div>
<stupa-common-svg-msg
  *ngIf="event === null"
  (eventClicked)="eventClicked()"
></stupa-common-svg-msg>
