.radioBox {
  ::ng-deep {
    p-radiobutton {
      scale: 0.6;
    }
    .p-radiobutton .p-radiobutton-box.p-highlight {
      background: var(--main-color);
      border-color: var(--main-color);
    }
  }
  .field-radiobutton {
    label {
      margin-left: 0.3rem;
    }
  }
}

.btn_green {
  width: 15%;

  .btn_green:disabled {
    background-color: lightgrey !important;
  }
}

.p-inputNumber {
  color: var(--combinating-color);
}

.p-tabview-nav-link {
  color: var(--main-color);
  bottom: 16px;
  position: relative;
  // border-bottom: 2px solid #f6bb41;
}
.p-tabview-nav-link::after {
  position: absolute;
  content: "";
  width: 25%;
  height: 2px;
  background-color: var(--combinating-color);
  bottom: 0;
  left: 0.5rem;
}

.right-text {
  display: flex;
  align-items: center;

  p {
    color: var(--combinating-color);
  }
}



img:hover {
  // animation: rotate 0.7s linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}