<div class="container-xxl teams">
  <div class="innerContent">
    <div class="mb-3">
      <button style="border:none" (click)="goBack()" class="backBtn">
        <img src="../../../assets/icons/backbtn/boldbackBTN.png" width="33" alt="" />
      </button>
      Back
    </div>
    <div class="centerElement">
      <div class="top-searchbar">
        <div class="flex-e">
          <div class="innerBox-input">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" [(ngModel)]="_searchTeams" pInputText placeholder="Find Teams" (keyup)="findTeams()"
                (keypress)="findTeams()" (keydown)="findTeams()" />
            </span>

          </div>

          <!-- <div class="innerBox p-links">
            <i class="pi pi-filter-fill i-small p-secondary-dark"></i>
          </div>
          <div class="innerBox p-links">
            <i class="pi pi-align-right i-small p-secondary-dark"></i>
          </div> -->
        </div>
      </div>
      <p-divider></p-divider>
      <div class="card-array">
        <div class="fixed-card flex-vc p-links" (click)="showDialog()">

          <div class="createTeam flex-vc flex-sb">
            <div class="flex-vc flex-sb w-100">
              <h3 class="p-green"><b>Create Team</b></h3>
            </div>
            <img class="imgCard" src="../../../assets/icons/svg/dashboard-common.svg" alt="">
          </div>

        </div>
        <div class="fixed-card _teams" *ngFor="let team of _teams;let i=index">
          <div class="mx-3 mt-2">
            <div class="common-topbar">
              <div class="flex-sb flex-vc">
                <div class="team-info">
                  <div class="flex-vc flex-hc">
                    <div class="avatarGroup">
                      <p-avatarGroup>
                        <p-avatar image="../../../assets/tms/content/defaultbanner2.png" size="small"
                          shape="circle"></p-avatar>
                        <!-- <p-avatar image="../../../assets/tms/content/defaultbanner2.png" size="small"
                          shape="circle"></p-avatar>
                        <p-avatar image="../../../assets/tms/content/defaultbanner2.png" size="small"
                          shape="circle"></p-avatar>
                        <p-avatar label="KU" size="small" shape="circle" [style]="{
                            'background-color': '#0FB4D9',
                            color: '#ffffff'
                          }"></p-avatar> -->
                      </p-avatarGroup>
                    </div>
                    <div class="name mx-5">
                      <h5 class="p-green">
                        <b>{{ team.name }}</b>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="actions">
                  <div class="flex-vc">
                    <p class="me-2">{{team.abled ?"Abled":'Disabled'}}</p>
                    <div class="action-box p-links" (click)="editTeam(team)">
                      <i class="pi pi-pencil i-small p-green"></i>
                    </div>
                    <div class="action-box p-links" (click)="deleteMixTeam(team,i)">
                      <svg width="12" height="12" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1.16565 6.94245C1.07629 5.78087 1.99473 4.78906 3.15975 4.78906H7.68235C8.84737 4.78906 9.76581 5.78087 9.67646 6.94246L9.35257 11.153C9.27242 12.195 8.40354 12.9996 7.35846 12.9996H3.48364C2.43857 12.9996 1.56969 12.195 1.48953 11.153L1.16565 6.94245Z"
                          stroke="#CA0D0D" />
                        <path d="M9.21176 2.89844H1.63281" stroke="#CA0D0D" stroke-linecap="round" />
                        <path
                          d="M4.15625 2C4.15625 1.44772 4.60397 1 5.15625 1H5.68256C6.23485 1 6.68257 1.44772 6.68257 2V2.89474H4.15625V2Z"
                          stroke="#CA0D0D" />
                        <path d="M6.68359 7.3125V10.4704" stroke="#CA0D0D" stroke-linecap="round" />
                        <path d="M4.15625 7.3125V10.4704" stroke="#CA0D0D" stroke-linecap="round" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="player-array">
              <div class="player-row" *ngFor="let item of team.team_details">
                <div class="row">
                  <div class="col-lg-2">
                    <p-avatar image="../../../assets/tms/content/defaultbanner2.png" size="small"
                      shape="circle"></p-avatar>
                  </div>
                  <div class="col-lg-4 name">
                    <p>{{ item.name }}</p>
                  </div>
                  <div class="col-lg-6">
                    <p>{{ item.email }}</p>
                  </div>
                </div>
                <!-- <table>
                                    <tr>
                                        <td style="width:20%">
                                            <p-avatar image="../../../assets/tms/content/defaultbanner2.png"
                                                size="small" shape="circle"></p-avatar>
                                        </td>
                                        <td style="width:20%">
                                            <p>{{ item.name }}</p>
                                        </td>
                                        <td style="width:20%">
                                            <p>{{ item.email }}</p>
                                        </td>
                                    </tr>
                                </table> -->
                <!-- <p-avatar image="../../../assets/tms/content/defaultbanner2.png" size="small"
                                    shape="circle"></p-avatar>
                                <p>{{item.name}}</p>
                                <p>{{item.email}}</p> -->
              </div>
            </div>
          </div>
          <div class="definer" [ngSwitch]="team.category.gender_id">
            <p *ngSwitchCase="1">Male</p>
            <p *ngSwitchCase="2">Female</p>
            <p *ngSwitchCase="3">Other</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-dialog [showHeader]="false" [(visible)]="_showCreateTeam" [modal]="true" [draggable]="false" [baseZIndex]="10000"
    [style]="{ width: '800px', minHeight: '300px' }">
    <stupa-create-team (closePopPup)="closePopPup()" [mixedData]="mixedData"
      (newMixedTeams)="teamsAfterSave($event)"></stupa-create-team>
  </p-dialog>
</div>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>
<p-toast position="bottom-center" key="bc"></p-toast>