.container-xxl {
    .topBar {
        .topflex {
            width: 100%;

            .btnSchedule {
                background-color: var(--combinating-color);
                padding: 8px 15px;
                font-size: 12px;
                color: #ffffff;
                width: 150px;
                text-align: center;
            }

            .steps {
                width: 280px;

                ::ng-deep {
                    .p-steps {
                        font-family: "Gotham" !important;

                        .p-steps-item .p-menuitem-link .p-steps-number {
                            color: var(--main-color);
                            border: 1px solid var(--main-color);
                        }

                        .p-steps-item.p-steps-current .p-menuitem-link {
                            .p-steps-number {
                                color: var(--primary-color) !important;
                                background: var(--main-color) !important;
                            }
                        }

                        .p-steps-number {
                            min-width: 1.5rem;
                            height: 1.5rem;
                            font-size: 12px;
                        }

                        .p-steps-title {
                            font-size: 12px;
                            color: var(--main-color);
                            margin-top: 0;
                        }

                        .p-steps-item {
                            justify-content: flex-start !important;
                        }

                        .p-steps-item:before {
                            top: 65%;
                        }

                        .p-steps-item:last-child::before {
                            width: 50%;
                            left: -30%;
                        }

                        .p-steps-item:first-child::before {
                            width: 50%;
                            left: 30%;
                        }
                    }
                }
            }
            .steps.unlined {
                ::ng-deep {
                    .p-steps-item::before {
                        display: none;
                    }
                }
            }
        }
    }
}
