<div class="signup-management">
    <div class="settingManagement-component mx-3">
        <div class="top-header">
            <div class="heading">
                <h4>{{'signUp.signUp' | translate}}</h4>
            </div>
        </div>
        <div class="roleSlider common-owl-carousel">
            <section class="horizontal-scroll-wrapper tabs flex-vc">
                <div class="roleSlider-tab notActive" [ngStyle]="tabStyle(items)" *ngFor="let items of roles"
                    (click)="setActive(items)">
                    <p class="text-center">{{items.title}}</p>
                </div>
            </section>
        </div>
        <div class="signupManagement-form">
            <form>
                <div class="feild-heading">
                    <h6>
                        Default Fields
                    </h6>
                </div>
                <div class="mandatoryFields">
                    <div *ngIf="defaultFieldList.length>0">
                        <div *ngFor="let item of defaultFieldList " class="relativePath">
                            <input type="text" pInputText placeholder={{item.title}} readonly />
                        </div>
                    </div>
                </div>
                <div class="feild-heading">
                    <h6>
                        {{'signupmanagement.mandatoryF' | translate}}
                    </h6>
                </div>
                <div class="mandatoryFields">
                    <div *ngIf="mandatoryFieldList.length>0">
                        <div *ngFor="let item of mandatoryFieldList " class="relativePath flex-vc">
                            <input type="text" pInputText placeholder={{item.title}} readonly />
                            <p-overlayPanel appendTo="body" #menuPopup1 [showCloseIcon]="false"
                                [style]="{width: '180px'}">
                                <ng-template pTemplate>
                                    <div class="common-popup">
                                        <div class="innerContent">
                                            <div class="overlay-item menuItem ">
                                                <a
                                                    (click)="removeFromMandatoryList(item)">{{'signupmanagement.optional'|translate}}</a>
                                            </div>
                                            <div class="overlay-item menuItem ">
                                                <a (click)="deleteRoleField(item)">{{'banner.remove'|translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-overlayPanel>
                            <div class="dropbtn ms-2">
                                <div class="dropdownUnpublish">
                                    <button (click)="menuPopup1.toggle($event)" pButton pRipple type="button"
                                        icon="pi pi-ellipsis-v"
                                        class="p-button-plain p-button-text p-button-rounded"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-hc my-5" *ngIf="mandatoryFieldList.length==0">
                        <p class="text-grey">No Fields to show here</p>
                    </div>

                </div>
                <div class="feild-heading">
                    <h6>
                        {{'signupmanagement.optionalF'|translate}}
                    </h6>
                </div>
                <div class="optionalFields">
                    <div *ngIf="optionFieldList.length>0">
                        <div class="relativePath flex-vc" *ngFor="let item of optionFieldList ">
                            <input type="text" pInputText placeholder={{item.title}} readonly />
                            <p-overlayPanel appendTo="body" #menuPopup [showCloseIcon]="false"
                                [style]="{width: '180px'}">
                                <ng-template pTemplate>
                                    <div class="common-popup">
                                        <div class="innerContent">
                                            <div class="overlay-item menuItem ">
                                                <a (click)="addInMandatoryList(item)">{{'home.mandatory'|translate}}</a>
                                            </div>
                                            <div class="overlay-item menuItem ">
                                                <a (click)="deleteRoleField(item)">{{'banner.remove'|translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-overlayPanel>

                            <div class="dropbtn ms-2">
                                <div class="dropdownUnpublish">
                                    <button (click)="menuPopup.toggle($event)" pButton pRipple type="button"
                                        icon="pi pi-ellipsis-v"
                                        class="p-button-plain p-button-text p-button-rounded"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-hc my-5" *ngIf="optionFieldList.length==0">
                        <p class="text-grey">{{'signupmanagement.noFields'|translate}}</p>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="flex-e mt-4 addField me-3 mt-3">
        <button class="btn btn_green flex-vc" (click)="openDialog()"><i
                class="pi pi-plus me-2"></i>{{'home.addField'|translate}}</button>
        <p-dialog [(visible)]="showDialog" [modal]="true" [header]="_currentRole" [draggable]="false"
            [style]="{width: '70vw'}" [baseZIndex]="10000" (onHide)="closePopUp()">
            <app-add-field-dialog [roleId]=" _currentRoleId"></app-add-field-dialog>
        </p-dialog>
    </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>