.signup-management {
    padding: 1rem;
    .roleSlider {
        margin: 2vh 0;

        section.horizontal-scroll-wrapper {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            overflow: hidden;
            overflow-x: auto;

            .roleSlider-tab.notActive {
                // background: #ffffff;
                white-space: nowrap;
                max-width: 400px;
                border: 1px solid #d3d3d3;
                margin: 0 1% 0 0;
                border-radius: 5px;
                padding: 0.7% 6%;
                cursor: pointer;
                overflow: hidden;
                width: auto;
                display: flex;
                justify-content: center;
                text-overflow: ellipsis;
            }
        }
    }

    .roleSlider ::ng-deep ::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }

    .roleSlider ::ng-deep ::-webkit-scrollbar-track {
        background-color: transparent !important;
    }

    .roleSlider ::ng-deep ::-webkit-scrollbar-thumb {
        background: #000000;
        outline: 1px solid slategrey;
        border-radius: 50px;
    }

    .srollbarTabs {
        width: 200px;
    }

    .signupManagement-form {
        padding: 0rem;

        input {
            margin: 0.5rem 0;
        }

        .feild-heading {
            margin-top: 2vh;
        }

        .optionalFields,
        .mandatoryFields {
            .relativePath {
                position: relative;

                input {
                    flex-grow: 1;
                }

                .btn_sendtoMandatory {
                    background: var(--main-color);
                    width: 1.5rem !important;
                    height: 1.5rem !important;
                    position: absolute;
                    right: -8px;
                    padding: 10px !important;
                    top: 1px;
                }

                ::ng-deep {
                    .p-button-icon {
                        scale: 0.7;
                    }
                }
            }
        }

        .mandatoryFields .btn_sendtoMandatory {
            background: #cd2023 !important;
        }
    }

    .addField {
        button {
            width: auto !important;
        }
    }
}
.bannerUnpublish {
    position: relative;

    .dropdownUnpublish {
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translate(-50%, -50%);
        padding: 6px;
        background: white;
    }
}
