$mediaQueries: (
    mobile: 750px,
    tab: 1100px,
);

@mixin query($screen) {
    @each $key, $value in $mediaQueries {
        @if ($screen ==$key) {
            @media only screen and (max-width: $value) {
                @content;
            }
        }
    }
}

.dialog {
    .flexRow {
        display: flex;
        justify-content: center;

        .innerContent {
            padding: 0 0.75rem;
            height: 100%;
        }
        .left {
            order: 1;
            // min-width: 30% !important;
        }
        .center {
            order: 2;
            flex-basis: 100%;
            .innerBox {
                background-color: var(--f1-color);
                padding: 1rem;
                height: 100%;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                .teamFlex {
                    display: flex;

                    .team1 {
                        order: 1;
                    }
                    .team2 {
                        order: 3;
                    }
                    .deleteRow {
                        width: 35px;
                        order: 2;
                    }
                    .teams {
                        flex-basis: 100%;
                    }
                    .detail-input {
                        ::ng-deep {
                            .p-dropdown {
                                margin: 0;
                                border: none;
                                border-bottom: 1px solid var(--secondary-color);
                                background: transparent;
                                border-radius: 0;
                                .p-dropdown-trigger {
                                    width: 2rem;
                                    span {
                                        font-size: 12px;
                                    }
                                }
                                .p-dropdown-label {
                                    font-size: 85%;
                                    width: 140px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right {
            order: 3;
        }
        .cornerbox {
            min-width: 35%;
            // width: 65%;
            .innerBox {
                height: 45vh;
                overflow: hidden;
                overflow-y: auto;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .centerElement {
                ::ng-deep {
                    .p-datatable .p-datatable-tbody > tr > td {
                        // font-size: 65%;
                        font-size: 85%;
                        padding: 0.3rem;
                        white-space: nowrap;
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // text-align: center;
                        text-align: left;
                    }
                    .p-datatable .p-datatable-thead > tr > th {
                        font-size: 70%;
                        padding: 0.3rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    @include query(tab) {
        .flexRow {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .center {
                width: 100%;
                margin: 1.5rem 0;
            }
            .cornerbox {
                width: 100%;
            }
        }
    }
}
.gapColumn {
    width: 35px;
}

.deleteRow {
    z-index: 99;
    cursor: pointer;
}
