<!-- <p>member-ships works!</p> -->
<div class="personal-details-container">
    <div class="container">
        <div class="FirstSection">
            <p>Membership</p>
        </div>
        <div class="lowersection">
            <div class="cards">
                <p>Current Plan</p>
                <p>Gold Member</p>
                <p class="items">Feature 1</p>
                <p class="items">Feature 2</p>
                <p class="items">Feature 3</p>
            </div>
            <div class="right_section">
                <button>Upgrade Plan</button>
            </div>
        </div>
    </div>
</div>