<div class="admin-sidebar-container">
    <div class="sidebar">
        <div class="topbar">
            <div class="img-container">
                <img src="../../../assets/icons/logo.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="admin-tabs">
            <div class="tab-outer">
                <div class="tab-inner">
                    <div class="d-flex tab-flex" routerLink="admin/dashboard" (click)="currentTab('dashboard')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'dashboard'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/dashboard-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">{{'sidebar.dashboard'| translate}}</p>
                    </div>
                   
                    <div class="d-flex tab-flex" routerLink="admin/manage" (click)="currentTab('manage')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'manage'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/manage-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">{{'sidebar.manage'| translate}}</p>
                    </div>
                    <div class="d-flex tab-flex" routerLink="admin/notification" (click)="currentTab('notification')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'notification'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/bell-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">Notifications</p>
                    </div>
                    <div class="d-flex tab-flex" routerLink="admin/chat" (click)="currentTab('chat')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'chat'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/message-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">Chat</p>
                    </div>
                    <div class="d-flex tab-flex" routerLink="admin/web-images" (click)="currentTab('webImages')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'webImages'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/flag-icon-white.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">{{'sidebar.webImages'| translate}}</p>
                    </div>
                    <div class="d-flex tab-flex" routerLink="admin/feedback" (click)="currentTab('feedback')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'feedback'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/feedback-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">{{'sidebar.feedbacks'| translate}}</p>
                    </div>
                    <div class="d-flex tab-flex" routerLink="admin/videos" (click)="currentTab('videos')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'videos'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/video-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">{{'sidebar.videos'| translate}}</p>
                    </div>
                    <div class="d-flex tab-flex" routerLink="admin/requests" (click)="currentTab('requests')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'requests'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/video-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">Requests</p>
                    </div>
                    <div class="d-flex tab-flex" routerLink="admin/settings" (click)="currentTab('settings')">
                        <div [ngClass]="{'_isactive d-flex': activeTab == 'settings'}">
                            <span class="gradientbox"></span>
                            <span class="sideStick"></span>
                        </div>
                        <div class="tab-imgContainer">
                            <img src="../../../assets/icons/setting-icon.png" class="img-fluid" alt="">
                        </div>
                        <p class="tab-heading">{{'sidebar.settings'| translate}}</p>
                    </div>
                    <div class="poweredBy flex-vc flex-hc mt-3 mb-2">
                        <div class="imgContainer">
                            <img src="../../../assets/icons/poweredBy.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>