<!-- <div class="common-loader">
    <div class="innerContent">
        <img src="../../../assets/GIF/animation_500_lbuldbni.gif" alt="">
    </div>
</div> -->
<div class="common-loader">
    <div class="innerContent">
        <div class="stupa-loader-overlay" [style.background-color]="'transparent'" [style.z-index]="999999999999"
            [style.position]="'fixed'" #overlay>
            <div class="la-ball-atom" [style.color]="'#fff'">
                <div class="la-sm"></div>
                <div class="la-2x"></div>
                <div class="la-3x"></div>
            </div>
            <div></div>
            <div class="loading-text" [style.z-index]="999999999">
                <p>Loading...</p>
            </div>
        </div>

    </div>
</div>