<div class="createRole">
    <div class="closeBut"></div>
    <div class="createRole-form">
        <form action="">
            <input type="text" pInputText placeholder="Role Name" [(ngModel)]="name"
                [ngModelOptions]="{standalone: true}" />
            <!-- <div class="error-txt-msg mb-2" *ngIf="true" style="color: red">
                Role Name Is Required Field.
            </div> -->
            <p-dropdown [options]="permissions" optionLabel="name" optionValue="perm_id" appendTo="body"
                placeholder="Access Given" [(ngModel)]="permission" [ngModelOptions]="{standalone: true}">
            </p-dropdown>
            <!-- <div class="error-txt-msg mb-2" *ngIf="true" style="color: red">
                Access Given Is Required Field.
            </div> -->
            <p-dropdown [options]="roles" optionLabel="title" optionValue="role_id" appendTo="body"
                placeholder="Authentication" [(ngModel)]="authentication" [ngModelOptions]="{standalone: true}">
            </p-dropdown>
            <!-- <div class="error-txt-msg mb-2" *ngIf="true" style="color: red">
                Authentication Is Required Field.
            </div> -->
            <button class="btn btn_green mt-1" (click)="saveRole()">Save</button>
        </form>
    </div>
</div>