.createRole {
    .createRole-form {
        padding: 1rem;
        background: #f2f4f8;
        width: 35vw;
        min-width: 10vw;
        input {
            width: 100%;
            margin: 0.5rem 0 !important;
        }
        ::ng-deep {
            .p-dropdown {
                background: white !important;
                margin: 0.5rem 0 !important;
            }
        }
    }
}
