.container-xxl {
    .topBar {
        .topflex {
            width: 100%;
            .btnSchedule {
                background-color: var(--combinating-color);
                padding: 8px 15px;
                font-size: 12px;
                color: #ffffff;
                width: 150px;
                text-align: center;
            }
            .steps {
                width: 280px;
                ::ng-deep {
                    .p-steps {
                        font-family: "Gotham" !important;

                        .p-steps-item .p-menuitem-link .p-steps-number {
                            color: var(--main-color);
                            border: 1px solid var(--main-color);
                        }

                        .p-steps-item.p-steps-current .p-menuitem-link {
                            .p-steps-number {
                                color: var(--primary-color) !important;
                                background: var(--main-color) !important;
                            }
                        }

                        .p-steps-number {
                            min-width: 1.5rem;
                            height: 1.5rem;
                            font-size: 12px;
                        }

                        .p-steps-title {
                            font-size: 12px;
                            color: var(--main-color);
                            margin-top: 0;
                        }

                        .p-steps-item:before {
                            top: 65%;
                        }

                        .p-steps-item:last-child::before {
                            width: 50%;
                            right: 50%;
                        }

                        .p-steps-item:first-child::before {
                            width: 50%;
                            left: 50%;
                        }
                    }
                }
            }
        }
    }
}

.topBar {
    .greyBox {
      background-color: #fbfbfb;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 0.5rem;
      position: relative;
      height: 190px;
      .innerContent {
        font-size: 90% !important;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        .detail-input {
          label {
            color: var(--secondary-color);
          }

          input {
            border-bottom: 1px solid var(--secondary-color) !important;
            border: none;
            border-radius: 0 !important;
            background-color: transparent;
            font-size: 18px;
            color: var(--main-color);
            font-weight: bold;
            padding-left: 0;
          }

          ::ng-deep {
            .p-multiselect {
              border: none;
              border-bottom: 1px solid #5555;
              border-radius: 0;
            }

            .p-dropdown {
              border-bottom: 1px solid var(--secondary-color) !important;
              border: none;
              border-radius: 0 !important;
              background-color: transparent;
              font-size: 18px;
              margin: 0 !important;

              .p-dropdown-label {
                padding-left: 0;
                color: var(--main-color);
              }

              .p-dropdown-label.p-placeholder {
                color: #6c757d !important;
                font-size: 12px !important;
              }
            }
          }
        }
      }

      .noPlayer {
        position: absolute;
        top: 61%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #bfbfbf;
      }
    }
  }
  .btnSchedule {
    background-color: var(--combinating-color);
    padding: 8px 15px;
    font-size: 12px;
    color: #ffffff;
    width: 150px;
    text-align: center;
  }