.common-dialog {
    ._borderDropdown {
        ::ng-deep {
            .p-dropdown {
                border: none;
                border-bottom: 1px solid black;
                border-radius: 0;
            }
        }
    }
    .editable-heading {
        .p-relative {
            position: relative;
        }
        .heading-input {
            max-width: 450px;
            width: fit-content;
            position: relative;
            ::ng-deep {
                .p-inputtext {
                    border: none;
                    color: var(--secondary-color);
                    font-size: 20px !important;
                    font-weight: 700 !important;
                }
            }
        }
        .edit-icon {
            position: absolute;
            right: -12px;
            top: -12px;
            padding: 8px 8px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .edit-icon:hover {
            background-color: var(--main-color);
            i {
                color: white;
            }
        }
    }
    .player-array {
        .playerRow {
            max-height: 250px;
            overflow: hidden;
            overflow-y: auto;
        }
    }
    .addPLayer {
        .addFieldBtn {
            background-color: transparent;
            color: var(--main-color);
        }
        .addFieldBtn:hover {
            background-color: var(--main-color);
            color: white !important;
        }
    }
}
