$green-color: #01534d;
$green-container: #1b403a;
$white-container: #f5f5f5;

$mediaQueries: (
    mobile: 576px,
    tab: 1000px,
);

@mixin query($screen) {
    @each $key, $value in $mediaQueries {
        @if ($screen ==$key) {
            @media only screen and (max-width: $value) {
                @content;
            }
        }
    }
}
.admin-layout {
    position: relative;
    .overlayContainers {
        z-index: 1;
        ::ng-deep {
            .p-sidebar .p-sidebar-header {
                background-color: var(--main-color) !important;
            }
            .p-sidebar .p-sidebar-content {
                padding: 0 !important;
            }
            .w-100 {
                min-width: auto !important;
                width: 100% !important;
                position: relative !important;
            }
            .sidebar {
                min-width: 20vw;
                min-height: 100vh;
                background-color: var(--main-color);
                .adminSidebar {
                    z-index: 1;
                    min-width: 20vw;
                    position: fixed;
                }
            }
            .content {
                min-height: 100vh;
                flex-grow: 1;
                padding-top: 8.5vh;
                background: white;
                overflow: hidden;
            }
        }
        .profile-header {
            z-index: 1;
            top: 0;
            right: 0;
            width: auto;
            position: absolute;
            background: transparent;
            padding: 1vw;
            .side-icons {
                display: flex;
                background: white;
                justify-content: flex-end;
                .profile-imgContainer {
                    margin-right: 2vw;
                    max-width: 25px;
                }
                .bellSize {
                    max-width: 20px !important;
                }
            }
        }
    }

    #menu {
        position: absolute;
        width: 25px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
        z-index: 100;
    }

    .bar {
        height: 3px;
        width: 100%;
        background-color: black;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    #bar1 {
        transform: translateY(-4px);
    }
    #bar3 {
        transform: translateY(4px);
    }
}
.imgBackground {
    width: 23px;
    height: 23px;
    padding: 5.5px;
    border-radius: 50%;
    background-color: #e1e1e1;
    position: relative;
}
.imgBackground img {
    width: 100%;
    display: flex;
    height: auto;
}
.userText {
    margin-left: 20px;
}