<div class="addField">
    <div class="createCustoms">
        <button class="btn btn_green flex-vc w-auto" (click)="showCustomCreator()"><i
                class="pi pi-plus me-2"></i>{{'home.addField'|translate}}</button>
    </div>
    <div class="customCreator" *ngIf="showCreator">
        <div class="childComponent">
            <div class="row flex-base">

                <div class="col-md-3">
                    <span class="p-float-label">
                        <p-dropdown [autoDisplayFirst]="false" inputId="dropdown" [options]="datatypes"
                            [(ngModel)]="_currentDataType" optionLabel="name" appendTo="body">
                        </p-dropdown>
                        <label for="dropdown">{{'home.dataType'|translate}}</label>
                    </span>
                    <div class="error-txt-msg mb-2" *ngIf="_currentDataType=='' && _isSubmit" style="color: red">
                        {{'signupmanagement.dataTypeReq'|translate}}
                    </div>
                </div>

                <div class="col-md-3">
                    <span class="p-float-label">
                        <input type="text" [(ngModel)]="_fieldTitle" pInputText />
                        <label for="pinputtext">{{'home.fieldName'|translate}}</label>
                    </span>

                    <div class="error-txt-msg mb-2" *ngIf="_fieldTitle=='' && _isSubmit" style="color: red">
                        {{'signupmanagement.fieldNameReq'|translate}}
                    </div>
                </div>
                <div class="col-md-3">
                    <p-dropdown [options]="moveto" [(ngModel)]="_setIsMandatory" (onChange)="setMandatory($event)"
                        optionLabel="name" appendTo="body" placeholder="{{'signupmanagement.moveTo'|translate}}">
                    </p-dropdown>
                    <div class="error-txt-msg mb-2" *ngIf="_setIsMandatory=='' && _isSubmit" style="color: red">
                        {{'signupmanagement.moveToReq'|translate}}
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn_green " (click)="createRoleField()">
                        {{'home.create'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="fields mt-4">

        <!-- <div class="preDefined">
            <div class="moveto-text" *ngIf="preDefined">
                <p>{{'signupmanagement.moveTo'|translate}}</p>
            </div>
            <div class="fieldname-preDefined d-flex flex-vc">
                <p-toggleButton (onChange)="setpreDefind($event)" class="me-2 p-button-rounded"
                    onIcon="pi pi-chevron-down" offIcon="pi pi-chevron-right ">
                </p-toggleButton>
                <h5 class="fieldname-heading">{{'home.preDefindFields'|translate}}</h5>
            </div>
            <div class="field-inputs mt-3" *ngIf="preDefined">
                <div>
                    <div class="field-component" *ngFor="let item of _preDefinedFields">
                        <input type="text" pInputText placeholder={{item.title}} readonly/>
                        <div class="field-options d-flex">
                            <button class="btn" (click)="updateRoleFields(item,true)">{{'home.mandatory' |translate}}</button>
                            <button class="btn" (click)="updateRoleFields(item,false)">{{'signupmanagement.optional'|translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="field-component">
                    <input type="text" disabled pInputText placeholder="Field Name" />
                    <div class="field-options d-flex">
                        <button class="btn">Mandatory</button>
                        <button class="btn">Optional</button>
                    </div>
                </div> 
            </div>

        </div> -->
        <div class="previous">
            <div class="moveto-text" *ngIf="_previousFields.length > 0">
                <p>Move to:</p>
            </div>
            <div class="parent-details">

                <div class="fieldname-preDefined d-flex flex-vc">
                    <p-toggleButton (onChange)="setPrevious($event)" class="me-2 p-button-rounded"
                        onIcon="pi pi-chevron-down" offIcon="pi pi-chevron-right ">
                    </p-toggleButton>
                    <h5 class="fieldname-heading">{{'home.previousFields'|translate}}</h5>
                </div>
                <div class="field-inputs mt-3" *ngIf="_previousFields.length === 0 && previous">
                    <div class="field-component flex-hc my-5">
                        <p>{{'signupmanagement.noFields'|translate}}</p>

                    </div>
                </div>

                <div class="field-inputs" *ngIf="_previousFields.length > 0 && previous">
                    <div class="fieldMargin">
                        <div class="field-component flex-hc" *ngFor="let item of _previousFields">
                            <input type="text" pInputText placeholder={{item.title}} readonly />
                            <div class="field-options d-flex">
                                <button class="btn btn-effect" (click)="updateRoleFields(item,true)">{{'home.mandatory'
                                    |translate}}</button>
                                <button class="btn btn-effect"
                                    (click)="updateRoleFields(item,false)">{{'signupmanagement.optional'|translate}}</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>