.p-inputtext {
    display: block;
    margin-bottom: .5rem;

}
        
        
.heading{
    margin-top: 10px;
}

.aadharSection{

    .viewDialog{
    cursor: pointer;
    position: absolute;
    margin-left: 842px;
    cursor: pointer;
    position: absolute;
    margin-top: -40px;
    
}

.aadhar{
    position: relative;
}
}