.note {
    background-color: yellow;
    width: 100px;
    height: 52px;
    border-color: green;
    border-style: solid;
    border-width: 2px;
    float: left;
    clear: none;
    margin-left: 10px;
  }
  
  .parentContainer {
    width: 700px;
    height: 400px;
    background-color: white;
    display: grid;
    .nodes{
        display: flex;
    }
  }