<!--  <p>role-management works!</p> -->
<div class="personal-details-container">
    <div class="container">
        <div class="FirstSection">
            <p>Role Management</p>
            <button>+New Role</button>
        </div>
        <div class="aligncards">
        <div class="cards" *ngFor="let item of cards">
            <div class="card_upperSection">
                <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <div class="profilename">{{item.profilename}}</div>
            </div>
            <div class="card_LowerSection">
                <div class="item name">{{item.name}}</div>
                <div class="item email">{{item.email}}</div>
                <div class="item info">{{item.info}}</div>
            </div>
        </div>
        </div>
    </div>
</div>