<p-tabView [activeIndex]="_tabIndex" (onChange)="getTabIndex($event)">
    <p-tabPanel header="Live Videos">
        <div class="tabContainer"  >
            <div class="innerBox">
                <stupa-live-videos [_tabIndex]="_tabIndex"></stupa-live-videos> 
           
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Streamed Matches">
        <div class="tabContainer"  >
            <div class="innerBox">
                <stupa-stream-matches [_tabIndex]="_tabIndex"></stupa-stream-matches>

            </div>
        </div>
    </p-tabPanel>
    <!-- <stupa-gif-loader></stupa-gif-loader> -->
</p-tabView>
