.flex-icon {
    cursor: pointer;
}
input.newInput {
    border-bottom: 1px solid #ac9c9c !important;
    border-radius: 0 !important;
    font-size: 1rem;
    font-weight: 650;
    color: var(--secondary-color);
}
.p-inputgroup-addon {
    border-left: 0 none;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
input.newInput::placeholder {
    font-size: 1rem;
    font-weight: 650;
    color: var(--secondary-color);
}
input.disabledInput {
    font-size: 1rem;
    font-weight: 650;
    color: var(--secondary-color);
}
input.disabledInput::placeholder {
    font-size: 1rem;
    font-weight: 650;
    color: var(--secondary-color);
}
.newInput,
.disabledInput {
    width: 200px;
}
.newAdded {
    input {
        width: 150px;
    }
}
