<div class="dialogContainer">
    <p class="p-small p-green">Merge two categories into a single one</p>
    <table class="playerTable table table-responsive mt-4 text-center">
        <thead>
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Number of Players</th>
                <th scope="col">Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of _mergeCategoryList;let i = index;">
                <td scope="row"><b>{{data.categoryName}}</b></td>
                <td>{{data.numberOfPlayer}}</td>
                <td class="p-links" (click)="mergeClick(i)">
                    <img src="../../../../../assets/icons/svg/mergeIcon.svg"
                        width="20" height="20" />
                </td>
                <td>
                    <div class="flex-vc">
                        <div class="detail-input categoryDropdown" *ngIf="data.isSelectedCategory">
                            <p-dropdown appendTo="body" [options]="_dropDownCategoryList" optionLabel="categoryName"
                                [(ngModel)]="_selectedCategory" placeholder="Select Category">
                            </p-dropdown>
                        </div>
                        <div class="addBut ms-2" (click)="mergeCategory(data)">
                            <button class="btn btn_green flex-vc m-0"><i
                                    class="i-small pi pi-plus-circle me-2"></i>Add</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="notice">
        <p class="p-secondary"><b class="me-2 p-combine">Note:</b>The final updated category will have the name
            of the
            <b class="p-secondary-dark"> second category</b> that the first will be
            merged in.
        </p>
    </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>