.dialogContainer {
    .playerTable {
        thead {
            background-color: var(--f1-color);
        }
        tbody {
            td {
                color: var(--main-color);
                iframe #document {
                    height: auto;

                    svg {
                        height: auto !important;
                    }
                }
            }
            .remover {
                color: var(--danger-color);
            }
            .categoryDropdown {
                ::ng-deep {
                    .p-dropdown {
                        border: none;
                        border-bottom: 1px solid #5555;
                        border-radius: 0;
                        max-height: 32px !important;
                    }
                    .p-dropdown-label {
                        max-width: 170px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .table > :not(caption) > * > * {
        border: none;
    }
}
