<div class="sign-container">
    <section class="section-sign">
        <div class="sign-row flex-e">
            <div class="centeredLogo">
                <img src="../../../assets/icons/logo.png" width="300" alt="" />
            </div>
            <div class="welcome-card">
                <div class="welcome step1">
                    <div class="welcome-top text-center my-2">
                        <h1 class="heading-welcome my-2">{{'login.welcome' | translate}}</h1>
                        <p class="subheading">{{'login.signIn' | translate}}</p>
                        <!-- Already have an account? <a routerLink="/account/login"
                                class="signInUrl">Sign In</a> -->
                    </div>

                    <div class="sign-form">
                        <form [formGroup]="_loginForm">
                            <span class="p-input-icon-left">
                                <!-- <i class="pi pi-envelope"></i> -->
                                <img src="../../../assets/icons/mail-icon2.png" alt="">
                                <input id="userEmail" type="text" [formControlName]="'email'" pInputText
                                    placeholder="{{'login.email' | translate}}" />
                            </span>
                            <div class="error-txt-msg mb-2" *ngIf="
                  _isSubmit && _loginForm.controls['email'].hasError('required')
                " style="color: red;font-size: .7rem;">
                                {{'login.EmailReq' | translate}}
                            </div>

                            <span class="p-input-icon-left p-input-icon-right">
                                <!-- <i class="pi pi-lock"></i> -->
                                <img src="../../../assets/icons/lock-icon.png" width="15" height="18" alt="">
                                <input id="userPwd" type="password" #password [formControlName]="'password'" pInputText
                                    placeholder="{{'login.password' | translate}}" />
                                <!-- <img src="../../../assets/icons/lock-icon2.png"  alt=""> -->
                                <div class="eyeIconContainer">
                                    <img [src]=__change_image width="15" height="15" alt="" (click)="showPassword(password)">
                                </div>
                            </span>
                            <div class="error-txt-msg mb-2"
                                *ngIf="_isSubmit && _loginForm.controls['password'].hasError('required')"
                                style="color: red;font-size: .7rem;">
                                {{'login.passwordReq' | translate}}
                            </div>
                            <div class="flex-sb flex-vc my-2">
                                <a class="signInUrl" routerLink="/account/forgot-password">{{'login.ForgotPwd' |
                                    translate}}</a>
                                <a class="signInUrl" routerLink="/account/signup">{{'login.NewMember' | translate}}</a>
                            </div>
                            <div class="text-center">
                                <button id="btnSignIn" type="submit" (click)="login()"
                                    class="btn btn_green">{{'login.signInButton' |
                                    translate}}</button>
                            </div>
                        </form>
                        <div class="flex-sb flex-vc" *ngIf="false">
                            <span class="hrLine"> </span>
                            <span class="or mx-2"
                                style="color: #828282; white-space: nowrap; font-size: 10px">{{'login.socialLogins' |
                                translate}}</span>
                            <span class="hrLine"> </span>
                        </div>
                        <div class="social-logins" *ngIf="false">
                            <div class="flex-sb flex-vc">
                                <div class="social-cover">
                                    <img src="../../../assets/icons/google-icon.png" class="img-fluid" alt="" />
                                </div>
                                <div class="social-cover">
                                    <img src="../../../assets/icons/facebook-icon.png" class="img-fluid" alt="" />
                                </div>
                                <div class="social-cover">
                                    <img src="../../../assets/icons/twitter.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="poweredBy">
            <img src="../../../assets/icons/poweredBy.png" width="130" alt="" />
        </div>
    </section>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>