$green-color: #01534d;
$green-container: #1b403a;
$white-container: #f5f5f5;

$mediaQueries: (
    mobile: 750px,
    tab: 1000px,
);

@mixin query($screen) {
    @each $key, $value in $mediaQueries {
        @if ($screen ==$key) {
            @media only screen and (max-width: $value) {
                @content;
            }
        }
    }
}


.section-sign {
    padding: 0 4rem 0 4rem;
    position: relative;

    .welcome-card {
        a.signInUrl {
            color: $green-color;
            font-weight: 300 !important;
            text-decoration: none;
        }

        form {
            [class^="p-input-icon-"] {
                margin: 0.6rem 0;
                position: relative;
            }
            input {
                // margin: 0.6rem 0;
                background: transparent;
                border: 0.01em solid;
            }
            input::placeholder {
                display: flex;
                align-items: center;
            }
            ::ng-deep {
                p-dropdown {
                    width: 100%;
                }
                .p-inputtext {
                    max-height: 38px;
                }
                .p-dropdown {
                    width: 100%;
                    margin: 0.6rem 0;
                    border: 0.01em solid;
                    max-height: 38px;
                    background: transparent;
                    span {
                        display: flex;
                        align-items: center;
                    }
                }
                p-inputnumber {
                    margin: 0.6rem 0;
                    width: 100%;
                }
                .p-inputnumber {
                    background: transparent;
                    border-radius: 5px;
                    width: 100%;
                    border: 0.01em solid;

                    max-height: 38px;
                }
            }
        }
        .social-logins {
            margin: 3vh 3vw;
            .social-cover {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                background: #d9d9d9;
                padding: 10px;
            }
        }
    }
}

.poweredBy {
    position: fixed;
    bottom: 3vh;
    left: 3vw;
}

.eyeIconContainer {
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    top: 50%;

    right: 11%;
    transform: translate(-50%, -50%);
    i {
        padding: 10px;
        right: 0%;
        cursor: pointer;
    }
}
