<div class="role-management">
    <div class="createRole">
        <div class="top-header">
            <h4>{{'signupmanagement.createRole'| translate}}</h4>
        </div>
        <div class="settingManagement-component mt-3">
            <div class="createRole-form">
                <form action="" [formGroup]="_roleForm">
                    <div class="row flex-base">
                        <div class="col-lg-2">
                            <span class="p-float-label">
                                <input type="text" pInputText [formControlName]="'roleName'" />
                                <label for="pinputtext">{{'signupmanagement.roleName'| translate}}</label>
                            </span>
                            <div class="error-txt-msg flex-e"
                                *ngIf="_isSubmit && _roleForm.controls['roleName'].hasError('required')"
                                style="color: red">

                                <span style="color: red">*</span>{{'signupmanagement.req'|translate}}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <span class="p-float-label">
                                <p-multiSelect inputId="multiselect" [options]="_permissionData"
                                    [formControlName]="'accessPermission'" optionLabel="name" [filter]="false"
                                    [showHeader]="false"></p-multiSelect>
                                <label for="multiselect">Access Permissions</label>
                            </span>
                            <div class="error-txt-msg flex-e"
                                *ngIf="_isSubmit && _roleForm.controls['accessPermission'].hasError('required')"
                                style="color: red">

                                <span style="color: red">*</span>{{'signupmanagement.req'|translate}}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span class="p-float-label">
                                <p-dropdown class="m-0" [autoDisplayFirst]="false" inputId="dropdown"
                                    [options]="_authentication" [formControlName]="'authentication'" optionLabel="name"
                                    optionValue="id" appendTo="body">
                                </p-dropdown>

                                <label for="dropdown">{{'signupmanagement.authentication'| translate}}</label>
                            </span>

                            <div class="error-txt-msg flex-e"
                                *ngIf="_isSubmit && _roleForm.controls['authentication'].hasError('required')"
                                style="color: red">

                                <span style="color: red">*</span>{{'signupmanagement.req'|translate}}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span class="p-float-label">
                                <p-multiSelect inputId="multiselect" [options]="_eventLevels"
                                    [formControlName]="'eventLevels'" optionLabel="name" [filter]="false"
                                    [showHeader]="false"></p-multiSelect>

                                <label for="multiselect">{{'signupmanagement.levels'|translate}}</label>
                            </span>
                            <div class="error-txt-msg flex-e"
                                *ngIf="_isSubmit  && _roleForm.controls['eventLevels'].hasError('required')"
                                style="color: red">

                                <span style="color: red">*</span>{{'signupmanagement.req'|translate}}
                            </div>
                        </div>
                        <div class="col-lg-2 ">
                            <span class="p-float-label">
                                <p-dropdown class="m-0" [autoDisplayFirst]="false" inputId="dropdown"
                                    [options]="_isPublishOrNot" [formControlName]="'isPublish'" optionLabel="name"
                                    appendTo="body">
                                </p-dropdown>

                                <label for="dropdown">{{'signupmanagement.pubUnpub'| translate}}</label>
                            </span>

                            <div class="error-txt-msg flex-e"
                                *ngIf="_isSubmit  && _roleForm.controls['isPublish'].hasError('required')"
                                style="color: red">

                                <span style="color: red">*</span>{{'signupmanagement.req'|translate}}
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button *ngIf="_createRoleBtn" class="btn btn_green mt-1"
                                (click)="saveRole()">{{'signupmanagement.create'| translate}}</button>
                            <button *ngIf="!_createRoleBtn" class="btn btn_green mt-1"
                                (click)="updateRole(_roleForm)">{{'footer.update'| translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="myRoles mt-5">
        <div class="top-header">
            <h4>{{'signupmanagement.myRoles'| translate}}</h4>
        </div>
        <div class="myRoleTabs mt-3">
            <div class=" row myRoleTab-class ">
                <div class="col-lg-3 col-md-6" *ngFor="let item of roles">
                    <div class="myRoleTab-card">
                        <div class="avatar">
                            <img src="../../../assets/icons/profile-icon.png" width="25" alt="">
                        </div>
                        <h6><b>{{item.title}}</b></h6>
                        <div class="switch mt-3">
                            <p-inputSwitch (onChange)="onPUblishClick($event,item)"
                                [(ngModel)]="item.published"></p-inputSwitch>
                        </div>
                        <div class="flex-sb">
                            <p class="p-small p-links">{{'banner.Published'| translate}}</p>
                            <p class="p-small p-links"><a (click)="editRole(item)">{{'signupmanagement.edit'|
                                    translate}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>