<div class="dialogContainer">
    <p class="p-small p-green">Import member for adding them to list of officials</p>
    <table class="officialTable table table-responsive mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">State</th>
                <th scope="col">Email</th>
                <th scope="col">Payment</th>
                <th scope="col">Verification</th>
                <th scope="col" class="flex-hc">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of _playerArray">
                <td scope="row" >{{data.name}}</td>
                <td>{{data.role}}</td>
                <td>{{data.state}}</td>
                <td>{{data.email}}</td>
                <td [style.color]="data.payment ==='Unpaid'?'var(--danger-color)':'var(--success-color)'">
                    {{data.payment}}</td>
                <td [style.color]="data.verification ==='Not Verified'?'var(--danger-color)':'var(--success-color)'">
                    {{data.verification}}</td>
                <!-- Not Verified -->
                <td class="" style="text-align:center;"><i class="p-links p-combine i-small pi pi-download"></i></td>
            </tr>
        </tbody>
    </table>
</div>