.app-footer {
    background: #f3f3f3;

    .footer-sections {
        [class^="_section"] {
            padding: 2rem 0 !important;
            margin: auto;
        }

        .contact {
            padding: 0;

            .img-center {
                margin: auto;
                display: flex;
            }

            .socials {
                padding: 0 15%;
                flex-direction: column;

                .social-buttons {
                    margin: 1rem 0;

                    button {
                        width: 15% !important;
                        margin: 0 0.5rem;
                        padding: 0px 15px !important;
                    }

                    button.btn_facebook {
                        background: #3d5a99;
                    }

                    button.btn_twitter {
                        background: #5aafef;
                    }

                    button.btn_linkedin {
                        background: #24679a;
                    }

                    button.btn_youtube {
                        background: #cd2023;
                    }
                }
            }
        }
    }

    .footer-inner {
        .footerRow {
            .footerColumn {
                position: relative;
                [class^="section-"] {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                .section-top {
                    .imgTop {
                        .imgContainer {
                            max-width: 120px;
                        }
                    }
                }

                .section-center {


                    .generatedLinks:not(:last-child) {
                        margin-right: 10px;
                    }

                    .icon {
                        padding: 2px 10px;
                        text-align: center;
                        border-radius: 5px;
                        width: 50px;

                        img {
                            width: 60%;
                            height: auto;
                        }
                    }

                    .icon._facebook {
                        background: #3d5a99;
                    }

                    .icon._twitter {
                        background: #5aafef;
                    }

                    .icon._linkedin {
                        background: #24679a;
                    }

                    .icon._youtube {
                        background: #cd2023;
                    }

                    .contacts {
                        margin: 1.5rem 0;

                        .flex-vc {
                            margin: 10px 0;
                        }

                        .contact-image {
                            width: 25px;
                            padding: 5px;
                            height: 25px;
                            background: #e0e0e0;

                            img {
                                display: flex;
                            }
                        }
                    }

                    .policies {
                        .policy {
                            padding: 0.5rem 0;
                            .nameUnderline {
                                border-bottom: 1px solid var(--secondary-color);
                                padding-bottom: 6px;

                            }
                        }
                    }

                    ._appType {
                        .imgTop {
                            margin-bottom: 5px;
                        }

                        ._relative {
                            position: relative;
                            overflow: hidden;
                        }

                        .dowloadButtons {
                            .text_tag {
                                left: -59px;
                                position: absolute;
                                width: 200px;
                                top: 13px;
                                background: #d9d9d9;
                                color: #23376e;
                                transform: rotate(-34.34deg);
                            }

                            .downloadBut {
                                cursor: pointer;
                            }
                        }
                    }

                    ._appType:not(:last-child) {
                        margin-right: 2rem;
                    }
                }

                .section-bottom {
                    // position: absolute;
                    // bottom: 0;
                }
            }

            .footerColumn:not(:last-child) {
                border-right: 2px solid #cecece;
            }

            @media all and (max-width: 700px) {
                .footerColumn {
                    padding-bottom: 2rem;
                    border-bottom: 2px solid #cecece;
                }

                .footerColumn:last-child {
                    border: none !important;
                }
            }
        }
    }
}

.flexColumn {
    flex-direction: column;
}

@media all and (max-width: 700px) {
    .footerColumn {
        padding-bottom: 2rem;
        border-bottom: 2px solid #cecece;
    }

    .footerColumn:last-child {
        border: none !important;
    }

}