<div class="admin-layout">

    <!-- <div *ngIf="_isCreateEvent" class="d-flex overlayContainers"> -->
    <div class="d-flex overlayContainers">

        <div *ngIf="innerWidth < 800" id="menu" (click)="_display = true">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <div class="sidebar" *ngIf="innerWidth > 800">
            <div class="adminSidebar">
                <app-event-org-sidebar (isFirstScreen)="isFirstScreen($event)"></app-event-org-sidebar>
            </div>

        </div>
        <p-sidebar [(visible)]="_display" [showCloseIcon]="false" [baseZIndex]="10000" *ngIf="innerWidth < 800">
            <div class="sidebar w-100">
                <div class="adminSidebar w-100">
                    <app-event-org-sidebar (isFirstScreen)="isFirstScreen($event)"></app-event-org-sidebar>
                </div>
            </div>
        </p-sidebar>
        <div class="content" [style.marginTop]="innerWidth > 800?'0':'3rem'">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <div *ngIf="!_isCreateEvent" class="d-flex overlayContainers"> -->
    <div *ngIf="false" class="d-flex overlayContainers">

        <div *ngIf="innerWidth < 800" id="menu" (click)="_display = true">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <div class="sidebar" *ngIf="innerWidth > 800">
            <div class="tmsSidebar">
                <div class="backBtn flex-vc flex-hc p-links" routerLink="/home/organize">

                    <div class="imgContainer">
                        <img class="img-fluid" src="../../../assets/tms/arrowLeft-orange.png" width="" alt="">
                    </div>
                </div>

                <div class="sideBarHeading mt-3">
                    <h4>Tournament</h4>
                    <h4>Management</h4>
                    <h4>System</h4>
                </div>
                <div class="centerText">
                    <p class="p-small">Create tournaments and publish them
                        to make your own <b>DummyDummy
                            DummyDummy</b></p>
                </div>
                <div class="bottomLi d-flex">
                    <div class="dotCont me-2">
                        <span class="dot"></span>
                    </div>
                    <div class="text">
                        <p class="p-small"> Follow a step by step process till easily
                            smh end up having a event process</p>
                    </div>
                </div>
                <!-- <app-event-org-sidebar></app-event-org-sidebar> -->
            </div>

        </div>
        <p-sidebar *ngIf="innerWidth < 800" [(visible)]="_display">
            <div class="sidebar w-100">
                <div class="adminSidebar w-100">
                    <app-event-org-sidebar></app-event-org-sidebar>
                </div>
            </div>
        </p-sidebar>
        <div class="content">
            <div class="content-inner mt-5">
                <p class="p-green fst-italic">A Relieving text message to take a breath before starting..</p>
                <p> Create an tournament to organize event </p>
                <div class="imgContainer">
                    <img src="../../../assets/tms/createEvent.png" class="img-fluid" alt="Italian Trulli">
                    <div class="innerText">d
                        <h6>Start with creation screen now blablabla!!</h6>
                        <h6>Dummy dsd dsdsds dssd</h6>

                        <div class="createEvent">
                            <div class="flex-vc p-links" (click)="CreateEvent()">
                                <h2>Create Event</h2>
                                <img class="ms-3 mt-1" src="../../../assets/icons/white-right-arrow.png" width="17"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>