<div class="sign-container">
    <section class="section-sign">
        <form [formGroup]="_forgotForm">
            <div class="sign-row flex-e">
                <div class="centeredLogo">
                    <img src="../../../assets/icons/logo.png" width="300" alt="">
                </div>
                <div class="welcome-card">
                    <div class="mb-4" routerLink="/account/login" routerLinkActive="active">
                        <button id="frgtBackBtn" class=""><img style="border:none" src="../../../assets/icons/backbtn/boldbackBTN.png"
                                width="33" alt=""></button>
                    </div>
                    <div class="welcome-top text-center my-2">
                        <h2 class="heading-welcome my-2">{{'login.ForgotPwd' | translate}}
                        </h2>
                        <p class="subheading">{{'forgetPassword.dontWorry' | translate}}

                        </p>
                    </div>
                    <div class="sign-form">
                        <p-steps (activeIndexChange)="checkIndex($event)" [model]="items" [(activeIndex)]="activeIndex"
                            [readonly]="true"></p-steps>
                        <div *ngIf="activeIndex==0">

                            <!-- <div class="changeInput mt-5">
                                <input type="text" [formControlName]="'email'" pInputText placeholder="Email">
                                <div class="changeText">
                                    <p class="p-small" *ngIf="_forgotForm.controls['email'].value!==''"><a
                                            (click)="changeMail()">Change</a></p>
                                </div>
                            </div> -->
                            <div class="changeInput mt-5">
                                <div class="p-inputgroup">
                                    <input id="frgtEmail" [formControlName]="'email'" pInputText placeholder="Email" />
                                    <span class="p-inputgroup-addon" *ngIf="false">
                                        <p class="p-small"><a (click)="changeMail()" class="no-line">Change</a></p>
                                    </span>
                                </div>

                            </div>

                            <div class="error-txt-msg mb-2"
                                *ngIf=" _isSubmit && _forgotForm.controls['email'].hasError('required')"
                                style="color: red;font-size: .7rem; font-weight: bold;">Email Is Required Field.</div>
                            <div class="error-txt-msg mb-2"
                                *ngIf="_isSubmit && _forgotForm.controls['email'].hasError('pattern')"
                                style="color: red;font-size: .7rem; font-weight: bold;">
                                Invalid Email</div>
                            <div class="flex-sb mt-3">
                                <p><a class="no-line p-small p-links" routerLink="/account/login">Login</a></p>
                                <p><a class="no-line p-small p-links" routerLink="/account/signup">{{'login.NewMember' |
                                        translate}}</a></p>
                            </div>
                        </div>
                        <div *ngIf="activeIndex==1" class="mt-4">
                            <div class="changeInput mt-5">
                                <div class="p-inputgroup">
                                    <input id="forgotEmail" [formControlName]="'email'" readonly pInputText
                                        placeholder="Email" />
                                    <span class="p-inputgroup-addon noBorder"
                                        *ngIf="_forgotForm.controls['email'].value!==''">
                                        <p class="p-small" *ngIf="false"><a (click)="changeMail()"
                                                class="no-line">Change</a></p>
                                    </span>
                                </div>

                            </div>
                            <div class="error-txt-msg mb-2"
                                *ngIf=" _isSubmit && _forgotForm.controls['email'].hasError('required')"
                                style="color: red;font-size: .7rem;">{{'login.EmailReq' | translate}}</div>
                            <div class="error-txt-msg mb-2"
                                *ngIf="_isSubmit && _forgotForm.controls['email'].hasError('pattern')"
                                style="color: red;font-size: .7rem;">
                                Incorrect Format.</div>
                            <!-- <div class="changeInput mt-5">
                                <input type="text" [formControlName]="'email'" pInputText placeholder="Email">
                                <div class="changeText">
                                    <p class="p-small" *ngIf="_forgotForm.controls['email'].value!==''"><a
                                            (click)="changeMail()">Change</a></p>
                                </div>
                            </div> -->
                            <div id="otpinputs" class=" flex-sb">

                                <!-- <input class=" mt-3" pInputText maxlength="1" pattern="[0-9]*" autocomplete="off" type="text" />
                                <input class=" mt-3" pInputText maxlength="1" pattern="[0-9]*" autocomplete="off" type="text" />
                                <input class=" mt-3" pInputText maxlength="1" pattern="[0-9]*" autocomplete="off" type="text" />
                                <input class=" mt-3" pInputText maxlength="1" pattern="[0-9]*" autocomplete="off" type="text" /> -->
                                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config">
                                </ng-otp-input>
                            </div>
                            <div class="flex-s mt-3">
                                <p><a class="p-links no-line p-small" routerLink="/account/login">Login</a></p>
                            </div>
                        </div>

                        <div *ngIf="activeIndex==2">
                            <div class=" mt-4">
                                <p-password [formControlName]="'password'" promptLabel="Enter new password"
                                    [toggleMask]="true" appendTo="body">
                                    <ng-template pTemplate="footer">
                                        <p-divider></p-divider>
                                        <p class="mt-2">Suggestions</p>
                                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                            <li>At least one lowercase</li>
                                            <li>At least one uppercase</li>
                                            <li>At least one numeric</li>
                                            <li>Minimum 8 characters</li>
                                        </ul>
                                    </ng-template>
                                </p-password>
                                <!-- <span class="p-input-icon-right">
                                    <i class="pi pi-info-circle"
                                        pTooltip="Your password must be more than 8 characters long, should contain at-least 1 Uppercase, 1 Lowercase, 1 Numeric and 1 special character."
                                        tooltipPosition="bottom"></i>
                                    <input id="frgtPwd" type="password" [formControlName]="'password'" pInputText
                                        placeholder="New Password" />
                                </span> -->


                                <div class="error-txt-msg mb-2"
                                    *ngIf="_forgotForm.controls['password'].hasError('required')" style="color: red;font-size:0.7rem;font-weight: bold;">
                                    Password Is Required Field.</div>
                                <div class="error-txt-msg mb-2"
                                    *ngIf="_forgotForm.controls['password'].hasError('pattern')" style="color: red;font-size:0.7rem;font-weight: bold;">
                                    Invalid Password</div>
                                <span class="p-input-icon-right mt-2">
                                    <i id="eye" class="p-links pi pi-eye-slash" (click)="showPassword(password)"></i>
                                    <input id="frgtConfirmPwd" type="password" [formControlName]="'confirmPassword'"
                                        pInputText placeholder="Confirm Password" #password />
                                </span>
                            </div>



                            <div class="flex-s mt-3">
                                <p><a class="p-links no-line p-small" routerLink="/account/login">Login</a></p>
                            </div>
                        </div>
                        <div class="text-center my-5" *ngIf="activeIndex==0">
                            <button id="frgtSendOtp" class="btn btn_green"
                                (click)="sendOtp()">{{'forgetPassword.SendOtp' | translate}}</button>
                        </div>
                        <div class="text-center mt-3" *ngIf="activeIndex==1">
                            <button class="btn btn_green" (click)="verifyOTP()">{{'forgetPassword.verifyOtp' |
                                translate}}</button>
                            <div [ngClass]="timer > 0 ?'flex-sb mt-2':'flex-e mt-2'" *ngIf="_startCountdown">
                                <p *ngIf="timer > 0">{{'Timeout :'+ timer}}</p>
                                <button id="resendOtp" [disabled]="timer !== 0" class="resendOTP"
                                    (click)="sendOtp()">Resend
                                    OTP</button>
                            </div>
                        </div>
                        <div class="text-center my-5" *ngIf="activeIndex==2">
                            <button id="frgtChangePwd" class="btn btn_green"
                                (click)="changePassword()">{{'forgetPassword.changePwd' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="poweredBy">
            <img src="../../../assets/icons/poweredBy.png" style="max-width: 130px;
            filter: contrast(65.5);
            height: auto;" alt="" />
        </div>
    </section>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>