::ng-deep {
    .p-steps-item {
        width: 200px !important;
    }
    .p-steps-item:last-child::before {
        width: 50%;
        right: 50%;
    }

    .p-steps-item:first-child::before {
        width: 50%;
        left: 50%;
    }
    .p-steps .p-steps-item:before {
        top: 56% !important;
    }
    .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
        box-shadow: 0 0 0 0 !important;
    }

    .p-steps .p-steps-item .p-menuitem-link {
        background: transparent !important;

        .p-steps-title {
            font-size: 12px;
        }

        .p-steps-number {
            min-width: 1.5rem !important;
            height: 1.5rem !important;
            font-size: 12px;
        }
    }

    .p-steps {
        position: relative;
    }

    .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
        min-width: 1rem !important;
        height: 1rem !important;
        font-size: 7px;
        background: black;
        color: black;
    }
}
.relativePass {
    position: relative;
}
.eyeIconContainer {
    height: 100%;
    background: white;
    position: absolute;
    top: 50%;

    right: -6%;
    transform: translate(-50%, -50%);
    i {
        padding: 10px;
        right: 0%;
        cursor: pointer;
    }
}
.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid black;
    border-radius: 50px;
    position: absolute;
    left: 35px;
    height: 35px;
    width: 35px;
    transform: translate(-50%, -50%);
}
.otphiddeninput {
    width: 100%;
    height: 45px;
    font-size: 2rem;
    letter-spacing: 48px;
    border: none;
    background: transparent;
    vertical-align: middle;
}

.sign-form {
    #emailfield {
        border: 0.01em solid black !important;
    }

    .login {
        color: #23376e;
        margin: 1.2rem 0;
    }
}

.resendOTP {
    background-color: transparent;
    border: none;
}
.poweredBy {
    position: fixed;
    bottom: 3vh;
    left: 3vw;
}
.sign-container {
    ::ng-deep {
        .p-password {
            width: 100%;
        }
        .p-password input {
            width: 100%;
        }
    }
}

#frgtBackBtn{
    border: none;
}