<div class="sign-container">

    <section class="section-sign">

        <div class="sign-row flex-e">
            <div class="centeredLogo">
                <img src="../../../assets/icons/logo.png" width="300" alt="">
            </div>
            <div class="welcome-card">
                <div class="mb-4" routerLink="/account/login" routerLinkActive="active">
                    <button class="backBtn"><img src="../../../assets/icons/back-icon.png" width="15" alt=""></button>
                </div>
                <div class="welcome-top text-center my-2">
                    <h2 class="heading-welcome my-2">Verification?
                    </h2>
                    <p class="subheading">Last Step!
                    </p>
                </div>
                <div class="sign-form">
                    <!-- <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps> -->
                    <div class="changeInput mt-5">
                        <div class="p-inputgroup">
                            <input id="emailfield" type="email" [(ngModel)]="_userEmail" pInputText
                                placeholder="example@gmail.com" />
                            <!-- <span class="p-inputgroup-addon noBorder ">
                                <p class="p-small p-links"><a (click)="changeMail()" class="no-line">Change</a></p>
                            </span> -->

                            <!-- <div class="changeText">
                            <p class="p-small"><a href="">Change</a></p>-->
                        </div>
                        <div class="error-txt-msg mb-2" *ngIf="_userEmail==''
                        " style="color: red">
                            Email Is Required Field.
                        </div>
                    </div>
                    <div id="otpinputs" class=" flex-sb">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config">
                        </ng-otp-input>
                    </div>
                    <div class="login">
                        <p class="p-links" routerLink="/account/login">Login</p>
                    </div>
                    <div class="text-center my-5">
                        <button id="verifyOtps" class="btn btn_green" (click)="verifyOTP()">Verify OTP</button>
                        <!-- <div class="flex-sb mt-2" *ngIf="_startCountdown">
                            <p *ngIf="timer > 0">{{'Timeout :'+ timer}}</p>
                            <p class="resendOTP" (click)="sendOtp()">Resend OTP</p>
                        </div> -->
                        <div [ngClass]="timer > 0 ?'flex-sb mt-2':'flex-e mt-2'" *ngIf="_startCountdown">
                            <p *ngIf="timer > 0">{{'Timeout :'+ timer}}</p>
                            <button id="resendOtp" [disabled]="timer !== 0" class="resendOTP"
                                (click)="sendOtp()">Resend
                                OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>