<div class="viewMatches">
    <div class="topVideo">
        <div class="videoContainer">
            <div class="videoPlayer">
                <video class="videoM3" controls>
                    <source src="../../../../assets/tms/content/mov_bbb.mp4" type="video/mp4">
                </video>
            </div>
            <div class="info p-2">
                <div class="flex-sb">
                    <div class="flex-vc gap-2">
                        <div class="flex-vc players gap-2">
                            <p class="playerName text-overflow">Ritesh Kumar</p>
                            <p>vs</p>
                            <p class="playerName text-overflow">Sadak Singh Sher Gill</p>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="round">
                            <p>Round of 32</p>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="category">
                            <p>Under- 19 Boys</p>
                        </div>
                    </div>
                    <div class="views flex-vc">
                        <p>1,222,233</p>
                        <p class="ms-1">Views</p>
                    </div>
                </div>
                <div class="flex-sb flex-vc mt-2">
                    <div>
                        <p class="event p-secondary"><b>WTT Star Contender</b></p>
                    </div>
                    <div class="flex-vc eventButtons">
                        <button class="btn btn-videoBut" disabled>
                            <img width="15" height="15" src="../../../../assets/icons/svg/live matches/trendup.svg"
                                alt="">
                            <p>Analyse</p>
                        </button>
                        <button class="btn btn-videoBut" disabled>
                            <img width="15" height="15"
                                src="../../../../assets/icons/svg/live matches/arrowsquaredown.svg" alt="">
                            <p>Download</p>
                        </button>
                        <button class="btn btn-videoBut">
                            <img width="15" height="15"
                                src="../../../../assets/icons/svg/live matches/arrowforwardsquare.svg" alt="">
                            <p>Share</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <p-divider class="mt-0 video-divider"></p-divider>
    </div>
    <div class="container-xxl liveMatchModule">
        <div class="innerContent m-2">
            <div class="section section-event">
                <div class="topbar">
                    <div class="flex-vc ">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 15C15.728 15 18.75 12.09 18.75 8.5C18.75 4.91 15.728 2 12 2C8.272 2 5.25 4.91 5.25 8.5C5.25 12.09 8.272 15 12 15Z"
                                stroke="#1B403A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M7.51781 13.5238L7.50781 20.9037C7.50781 21.8037 8.13781 22.2438 8.91781 21.8738L11.5978 20.6038C11.8178 20.4938 12.1878 20.4938 12.4078 20.6038L15.0978 21.8738C15.8678 22.2338 16.5078 21.8037 16.5078 20.9037V13.3438"
                                stroke="#1B403A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="heading ms-2">
                            <h5><b>Related Events</b></h5>
                        </div>
                    </div>
                    <!-- <div class="flex-vc p-links" routerLink="/live-matches">
                        <i class="pi pi-arrow-left i-small p-green"></i>
                        <p class="p-green ms-2">Back</p>
                    </div> -->
                </div>
                <div class="centerElement">
                    <div class="row">
                        <div class="col-lg-3" *ngFor="let item of _eventArray; let i = index">
                            <div class="owl-card">
                                <div class="thumbnail">
                                    <img [src]="item.src" alt="">
                                    <div class="img-cover">
                                        <div class="matchInfo">
                                            <p class="eventName">{{item.eventName}}</p>
                                            <p class="place py-2 text-overflow">{{item.place}}</p>
                                            <div class="flex-vc flex-sb bottomInfo w-100">
                                                <div class="date">
                                                    <p class="text-success">{{item.date}}</p>
                                                </div>
                                                <div class="view flex-vc">
                                                    <p>view</p>
                                                    <i class="pi pi-arrow-right text-white i-small ms-2"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="matchInfo py-2">
                                <div class="flex-sb w-100">
                                    <div class="flex-vc">
                                        <div class="col-4 p-0">
                                            <p class="text-overflow">{{item.playerAName}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p class="px-2">vs</p>
                                        </div>
                                        <div class="col-4 p-0">
                                            <p class="text-overflow">{{item.playerBName}}</p>
                                        </div>
                                        <div class="info ms-2">
                                            <i class="pi pi-info-circle i-small tooltipBox"
                                                pTooltip="{{item.round + '  |  ' + item.category}}"
                                                tooltipPosition="right"></i>
                                        </div>
                                    </div>
                                    <div class="flex-vc">
                                        <i class="pi pi-eye i-small text-dark"></i>
                                        <p class="p-small">{{item.view}}</p>
                                    </div>
                                </div>
                                <div class="event mt-1">
                                    <p class="p-secondary"><b>{{item.event}}</b></p>
                                </div>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-e">
            <pagination-controls (pageChange)="p=$event" class="float-right"></pagination-controls>
        </div>
    </div>
</div>