<div class="container-xxl" *ngIf="_eventId!=null">
    <div class="topbar">
        <div class="flex-sb flex-sb">
            <div>
                <h4 class="p-green">Day Planner</h4>
                <p class="mt-2 p-green">You can schedule your matches here .</p>
            </div>
            <div class="flex-vc p-links" (click)="resetForm()">
                <p class="p-combine">Reset</p>
                <img src="../../../../assets/icons/round-arrow.png" width="11" height="11" alt="" />
                <!-- <i class="pi pi-replay i-small p-combine ms-1"></i> -->
            </div>
        </div>
    </div>
    <div class="centerElement my-4">
        <div class="row">
            <div class="col-lg-3">
                <div class="heading">
                    <p>Select Event Date</p>
                </div>
                <div class="selectedDate mt-2">
                    <p class="p-green"><b>{{_start_Date}}{{_start_Month}} - {{_end_Date}}{{_end_Month}}</b></p>
                </div>
                <div class="dayButton " *ngFor="let item of _daysList;let i=index">
                    <button (click)="currentDateSelected(i)"
                        [ngClass]="item.isSelectedDay ? 'flex-sb flex-vc btn btn_green-bordered selected my-3':'flex-sb flex-vc btn btn_green-bordered  my-3'"
                        class=" flex-sb flex-vc btn btn_green-bordered my-3">
                        <p class="p-small">{{item.dayCount}}</p>
                        <p class=""><b>{{item.dayDate}}</b></p>
                        <i class="pi pi-plus-circle i-small"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-1">
                <p-divider [layout]="innerWidth > 990 ? 'vertical':'horizontal'"></p-divider>
            </div>

            <div class="col-lg-7">
                <form [formGroup]="_dayPlannerForm">
                    <div class="mt-4">
                        <div class="heading">
                            <p>Set Event Start - End Time</p>
                        </div>
                        <div class="row">
                            <div class="col-md-5">

                                <p-calendar [showIcon]="true" icon="pi pi-clock i-small "
                                    [formControlName]="'start_time'" placeholder="Start Time" [hourFormat]="'12'"
                                    (onSelect)="onSelect($event,'start_time')" [timeOnly]="true"
                                    (onInput)="onSelect($event,'start_time')" dateFormat="HH:mm" [showTime]="true"
                                    inputId="timeonly"></p-calendar>
                                <div class="error-txt-msg mb-2" *ngIf="
                                    _isSubmit && _dayPlannerForm.controls['start_time'].hasError('required')
                                  " style="color: red">
                                    Required
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="flex-vc flex-hc" [style]="{'height':'100%'}">
                                    <h6 class="p-green">--/--</h6>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <p-calendar id="endTime" [showIcon]="true" icon="pi pi-clock i-small " #endTime
                                    [formControlName]="'end_time'" placeholder="End Time"
                                    (onInput)="onSelect($event,'end_time')" [hourFormat]="'12'"
                                    (onSelect)="onSelect($event,'end_time')" [timeOnly]="true" dateFormat="HH:mm"
                                    [showTime]="true" inputId="timeonly"></p-calendar>
                                <div class="error-txt-msg mb-2" *ngIf="
                                    _isSubmit && _dayPlannerForm.controls['end_time'].hasError('required')
                                  " style="color: red">
                                    Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="heading">
                            <p>Set Break Start - End Time</p>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <p-calendar id="startTime" [showIcon]="true" icon="pi pi-clock i-small " #startTime
                                    [formControlName]="'break_start_time'" placeholder="Start Time" [timeOnly]="true"
                                    [hourFormat]="'12'" dateFormat="HH:mm" inputId="timeonly"></p-calendar>
                                <div class="error-txt-msg mb-2" *ngIf="
                                    _isSubmit && _dayPlannerForm.controls['break_start_time'].hasError('required')
                                  " style="color: red">
                                    Required
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="flex-vc flex-hc" [style]="{'height':'100%'}">
                                    <h6 class="p-green">--/--</h6>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <p-calendar id="endTime" [showIcon]="true" icon="pi pi-clock i-small " #endTime
                                    [hourFormat]="'12'" [formControlName]="'break_end_time'" placeholder="End Time"
                                    dateFormat="HH:mm" [timeOnly]="true" inputId="timeonly"></p-calendar>
                                <div class="error-txt-msg mb-2" *ngIf="
                                    _isSubmit && _dayPlannerForm.controls['break_end_time'].hasError('required')
                                  " style="color: red">
                                    Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">

                        <div class="row">

                            <!-- <div class="col-md-4">
                                    <p-dropdown appendTo="body" [options]="_repeat" optionLabel=""
                                        placeholder="Set Umpires"></p-dropdown>
                                </div>
                                <div class="col-md-4">
                                    <p-dropdown appendTo="body" [options]="_repeat" optionLabel=""
                                        placeholder="Set Tables"></p-dropdown>
                                </div>  -->
                            <div class="col-md-5 ">
                                <div class="heading">
                                    <p>Set Number of umpires</p>
                                </div>
                                <div class="dayPlannerInputtext">
                                    <input type="text" [formControlName]="'umpires'" pInputText
                                        placeholder="Number Of Umpires" />
                                    <div class="error-txt-msg mb-2" *ngIf="
                                        _isSubmit && _dayPlannerForm.controls['umpires'].hasError('required')
                                      " style="color: red">
                                        Required
                                    </div>
                                    <!-- <div class="error-txt-msg mb-2"
                                        *ngIf="_dayPlannerForm.controls['umpires'].value > this._officialList.length"
                                        style="color: red">
                                        you have only {{this._officialList.length}}umpires in this event. Add Offcial from sidebar Menu.
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="heading">
                                    <p>Set Number of Tables</p>
                                </div>
                                <div class="dayPlannerInputtext">
                                    <input type="text" [formControlName]="'tables'" pInputText
                                        (focusout)="onTableSelection()" placeholder="Number Of Tables" />
                                    <div class="error-txt-msg mb-2" *ngIf="
                                        _isSubmit && _dayPlannerForm.controls['tables'].hasError('required')
                                      " style="color: red">
                                        Required
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-2"></div>
                              
                                    <div class="col-md-5">
                                        <div class="heading">
                                            <p>Set Match Time(In Minutes)</p>
                                        </div>
                                        <!-- <p-dropdown appendTo="body" [options]="_repeat" optionLabel=""
                                                placeholder="Set Time"></p-dropdown> 
                                        <div class="dayPlannerInputtext">
                                            <input type="text" [formControlName]="'match_duration'" pInputText
                                                (change)="onDurationChange()" (keydown)="onDurationChange()"
                                                (keyup)="onDurationChange()" placeholder="Match Duration" />
                                            <div class="error-txt-msg mb-2" *ngIf="
                                                _isSubmit && _dayPlannerForm.controls['match_duration'].hasError('required')
                                              " style="color: red">
                                                Required
                                            </div>
                                        </div>
                                    </div> -->


                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="heading">
                            <p>Set Match Time(In Minutes)</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <!-- <p-dropdown appendTo="body" [options]="_repeat" optionLabel=""
                                        placeholder="Set Time"></p-dropdown>  -->
                                <div class="dayPlannerInputtext">
                                    <input type="text" [formControlName]="'match_duration'" pInputText
                                        (change)="onDurationChange()" (keydown)="onDurationChange()"
                                        (keyup)="onDurationChange()" placeholder="Match Duration" />
                                    <div class="error-txt-msg mb-2" *ngIf="
                                        _isSubmit && _dayPlannerForm.controls['match_duration'].hasError('required')
                                      " style="color: red">
                                        Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <h6 class="p-green">Based on set timmings <strong class="p-combine">{{_totalMatchs}}
                                matches</strong> will be
                            scheduled for
                            the day</h6>
                        <div class="setTiming-row mt-3">
                            <!-- <div class="flexRow row flex-vc">
                                <div class="col-3">
                                    <h6 class="p-green">Select Official</h6>
                                </div>
                                <div class="col-6">
                                    <p-dropdown appendTo="body" [options]="_officialList" optionLabel="name"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="_currentOfficial"
                                        (onChange)="selectedOfficial($event)" placeholder="Umpire Name"></p-dropdown>

                                </div>
                                <div class="col-3">
                                    <!-- <p class="text-danger text-end p-links">remove</p> 
                                </div>
                            </div> -->
                            <div *ngIf="_isUpdate">
                                <div class="flexRow row flex-vc" *ngFor="let item of _officialForEvent;let i=index">
                                    <div class="col-3">
                                        <h6 class="p-green">Table {{i+1}}</h6>
                                    </div>
                                    <div class="col-6 dayPlannerInputtext">
                                        <!-- <input type="text" pInputText readonly placeholder={{item.name}} /> -->
                                        <!-- <p-dropdown appendTo="body" [options]="_officialList" optionLabel="name" optionValue="user_id"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="_currentOfficial"
                                        (onChange)="selectedOfficial($event)" ></p-dropdown> -->

                                        <p-dropdown [options]="_officialList" placeholder="Select" [filter]="true"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="item.dropV"
                                            optionLabel="name" (onChange)="selectedOfficial($event,i)">
                                        </p-dropdown>
                                    </div>
                                    <!-- <div class="col-3">
                                        <p class="text-danger text-end p-links" (click)="removeOfficial(item)">remove</p>
                                    </div> -->
                                </div>
                            </div>
                            <div *ngIf="!_isUpdate">
                                <div class="flexRow row flex-vc" *ngFor="let item of _tableCount;let i=index">
                                    <div class="col-3">
                                        <h6 class="p-green">Table {{i+1}}</h6>
                                    </div>
                                    <div class="col-6 dayPlannerInputtext">
                                        <!-- <input type="text" pInputText readonly placeholder={{item.name}} /> -->
                                        <!-- <p-dropdown appendTo="body" [options]="_officialList" optionLabel="name" optionValue="user_id"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="_currentOfficial"
                                        (onChange)="selectedOfficial($event)" ></p-dropdown> -->

                                        <p-dropdown [options]="_officialList" placeholder="Select" [filter]="true"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="item.dropDownDetails"
                                            optionLabel="name" (onChange)="selectedOfficial($event,i)">
                                        </p-dropdown>
                                    </div>
                                    <!-- <div class="col-3">
                                        <p class="text-danger text-end p-links" (click)="removeOfficial(item)">remove</p>
                                    </div> -->
                                </div>
                            </div>


                            <p-divider></p-divider>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="update flex-e mt-4">
        <button class="btn btn_green w-auto m-0" (click)="updatePlan()">Update</button>
    </div>
    <!-- [disabled]="_officialList.length===0" -->
</div>
<stupa-common-svg-msg *ngIf="_eventId===null" (eventClicked)="eventClicked()"></stupa-common-svg-msg>
<!-- <stupa-common-svg-msg *ngIf="_officialList.length===0" [_buttonTitle]="_buttonTitle" [_pageMainTitle]="_pageMainTitle"
(official)="OfficialClicked()"></stupa-common-svg-msg> -->
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>
<p-toast position="bottom-center" key="bc"></p-toast>