.requests{
    .tabContainer{
        .innerBox{
            button{
                  margin-left: 2vw;
            }
        }
    }
}

.requests-tabView {
    .tabContainer {
        margin-right: 2rem;
        ::ng-deep {
            .p-datatable .p-datatable-tbody > tr > td {
                border: none !important;
            }
        }
    }
    ::ng-deep {
        .header {
            margin: 1.5rem 0;
            color: var(--secondary-color);
        }
        hr.divider {
            width: 100%;
            margin: 0;
        }

        .p-tabview {
            font-family: "Gotham", sans-serif !important;
            font-weight: 300 !important;
            font-size: 90%;
        }

        .p-tabview-panels {
            padding: 0;
            color: var(--text-color);
        }
        .p-tabview .p-tabview-nav {
            border: 2px solid white;
        }
        .p-tabview .p-tabview-nav li:focus-within {
            outline: none;
        }
        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            padding: 0.5rem 1.25rem;
            border: none;
        }
        .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
            color: var(--main-color);
            border-bottom: 2px solid #f6bb41;
        }
        .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
            box-shadow: 0 0 0 0 !important;
        }
    }
}
::ng-deep {
    .common-table {
        .p-datatable-table {
            font-size: 95% !important;
        }
    }
}
.top-searchbar {
    .p-inputtext {
        background-color: #f1f1f1;
        max-height: 38px !important;
    }
    .innerBox {
        padding: 5px 10px !important;
        background-color: #f1f1f1;
        height: 34px !important;
    }
}
.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}
.table-center {
    text-align: center;
}

.mb-3{
   
    justify-content: flex-start;
    align-items: center;
    gap: .6rem;
}

.back{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    gap: .6rem;
}