<div class="container-xxl">
	<button class="backbtn" (click)="goback()">
		<img class="me-2" width="33" src="../../../assets/icons/backbtn/boldbackBTN.png" alt="">
		{{'sidebar.back' | translate}}
	</button>
	<div class="banner-tabView">
		<!-- <span class="bannerHeading">Design Management : Banner controller</span> -->
		<p-tabView [(activeIndex)]="index">
			<p-tabPanel header="{{'banner.upload'|translate}}">
				<div *ngIf="!imageUrl" class="container" appDnd (fileDropped)="onFileDropped($event)">
					<input type="file" #fileDropRef id="fileDropRef"
						(change)="fileBrowseHandler($any($event.target).files)"
						accept="image/x-png, image/jpg, image/jpeg" />
					<img src="../../../assets/icons/upload-icon.png" class="uploadIcon" alt="">
					<br>
					<br>

					<h3>{{'banner.DragnDrop'|translate}}</h3>
					<p>{{'banner.uploadBanner' |translate}}</p>

					<br>
					<label for="fileDropRef">{{'banner.uploadNew' |translate}}</label>
				</div>

				<div class="float-container" *ngIf="imageUrl">
					<div class="uploadChild">
						<h6><strong>Move the uploaded</strong></h6>
						<p style="color: grey;"><strong> Picture to the following category</strong></p>
						<br>

						<button (click)="publishUnpublishBanner(true)" class="button1"
							[disabled]="this.publishedArray.length>=5"><strong>{{'banner.Published'
								|translate}}</strong></button>
						<button (click)="publishUnpublishBanner(false)" class="button2"><strong>{{'banner.Unpublished'
								|translate}}</strong></button>

						<br>
						<div class="reupload" appDnd (fileDropped)="onFileDropped($event)">
							<input type="file" #fileDropRef id="fileDropRef"
								(change)="fileBrowseHandler($any($event.target).files)"
								accept="image/x-png, image/jpg, image/jpeg" />
							<label class="repic" for="fileDropRef"><strong>{{'banner.ReuploadPicture'
									|translate}}</strong></label>
						</div>
					</div>

					<div class="uploadImage">
						<img align="right" [src]="imageUrl" width="250" height="150">
						<!-- <p>{{this.fileToUpload.name}}</p> -->
						<!-- <div class="tournament-info flex-sb flex-vc mt-2">
						<p class="p-small">{{this.fileToUpload.name}}</p> 
						
					</div> -->
					</div>

				</div>

				<div class="row mt-4" *ngIf="publishFlag">
					<div class="publishImages row">
						<p>{{'banner.Published' |translate}} {{imagePublished.length}} out of 5</p>
						<div *ngFor="let item of publishedArray;let i=index" class="col-lg-3 mt-3">
							<div class="bannerContainer">
								<img class="publish" src={{item.url}} alt="publishImg">
								<p-overlayPanel appendTo="body" #menuPopup [showCloseIcon]="false"
									[style]="{width: '150px'}">
									<ng-template pTemplate>
										<div class="common-popup">
											<div class="innerContent">
												<div class="overlay-item menuItem ">
													<a
														(click)="updatePublishUnpublish(item.banner_id,item.order_idx,item.published)">{{'banner.Unpublished'
														|translate}}</a>
												</div>
												<div class="overlay-item menuItem ">
													<a (click)="removeImage(item.banner_id)">{{'banner.remove'
														|translate}}</a>
												</div>
											</div>
										</div>
									</ng-template>
								</p-overlayPanel>
								<div class="dropbtn">
									<div class="dropdownUnpublish">
										<button pButton pRipple (click)="menuPopup.toggle($event)" type="button"
											icon="pi pi-ellipsis-v"
											class="p-button-plain p-button-text p-button-rounded"></button>
									</div>
								</div>
								<div class="imageLength">
									<p>{{i+1}}</p>
								</div>
							</div>
							<div class="text-center mt-2">
								<span pTooltip={{item.url.slice(64)}} tooltipPosition="bottom"
									class="description">{{item.url.slice(64).slice(0,10)}}</span>
							</div>
						</div>
					</div>
					<div class="row mt-4" *ngIf="publishFlag">
						<div class="unpublishImage row">
							<p>{{'banner.Unpublished' |translate}}</p>
							<div *ngFor="let item of unPublishedArray" class="col-lg-3 mt-3">
								<div class="bannerContainer">
									<img class="publish" src={{item.url}} alt="publishImg">
									<p-overlayPanel appendTo="body" #menuPopup2 [showCloseIcon]="false"
										[style]="{width: '150px'}">
										<ng-template pTemplate>
											<div class="common-popup">
												<div class="innerContent">
													<div class="overlay-item menuItem ">
														<a
															(click)="updatePublishUnpublish(item.banner_id,item.order_idx,item.published)">{{'banner.Published'
															|translate}}</a>
													</div>
													<div class="overlay-item menuItem ">
														<a (click)="removeImage(item.banner_id)">{{'banner.remove'
															|translate}}</a>
													</div>
												</div>
											</div>
										</ng-template>
									</p-overlayPanel>
									<div class="dropbtn">
										<div class="dropdownUnpublish">
											<button pButton pRipple (click)="menuPopup2.toggle($event)" type="button"
												icon="pi pi-ellipsis-v"
												class="p-button-plain p-button-text p-button-rounded"></button>
										</div>
									</div>
								</div>
								<div class="text-center mt-2">
									<span pTooltip={{item.url}} tooltipPosition="bottom"
										class="description">{{item.url.slice(64).slice(0,10)}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p-tabPanel>



			<p-tabPanel header="{{'banner.ArrageView'|translate}}">
				<br>
				<div class="NoImagesUploaded" *ngIf="!publishFlag">
					<h6 class="noImages">{{'banner.Nopictures' |translate}}</h6>
					<br>
					<p class="noImagesUpload">{{'banner.UploadImage' |translate}}</p>
					<br>

					<button (click)="openPrev()" class="arrangeUpload">{{'banner.Takeme' |translate}}</button>
				</div>
				<div *ngIf="publishFlag">
					<h5 class="arrangeViewHeading p-secondary">{{'banner.slidingBanner' |translate}}
					</h5>
					<!-- <section class="section-top-image-slider">
					<div class="topImageSlider">
						<owl-carousel-o [options]="imagePublishSlider">
							<ng-container  *ngFor="let slide of imagePublished">
								<ng-template  carouselSlide>
									<img class="img-carousel" [src]="slide" alt="Image to be loaded">
								</ng-template>
							</ng-container>
						</owl-carousel-o>
				</div>
			</section> -->
					<div class="topCarousel mt-3">
						<p-carousel [value]="imagePublished" [circular]="false" [numVisible]="1" [numScroll]="1">
							<ng-template let-imagePublished pTemplate="item">
								<div class="product-item">
									<div class="product-item-content">
										<img class="img-cover" [src]="imagePublished" alt="Image to be loaded">
									</div>
								</div>
							</ng-template>
						</p-carousel>
					</div>
					<h6 class="publishImageOrder p-secondary">{{'banner.PublishedImage' |translate}}
					</h6>
					<h6 class="DragandDropImage p-green mt-2"><strong>{{'banner.DragnDropOrder' |translate}}</strong>
					</h6>
					<div class="icons_wrapper row mt-3">
						<ng-container *ngFor="let icon of publishedArray;let i=index">
							<div class="col-lg-3" igxDrag igxDrop #dragRef id="{{icon.order_idx}}"
								(dropped)="onIconDropped($event)" (dragStart)="dragStartHandler(icon.order_idx)"
								(ghostCreate)="ghostCreateHandler(dragRef)" (dragEnd)="dragEndHandler(dragRef)"
								(enter)="onEnterHandler($event)" [ghostClass]="'drag_ghost_class'">
								<div class="icon_container" draggable="false"
									onmousedown="if (event.preventDefault) event.preventDefault()">
									<img [src]="icon.url" alt="dragDropImage" width="240" height="150">
									<div class="arrangeLength">
										<p>{{i+1}}</p>
									</div>
								</div>
								<div class="mt-2">
									<p pTooltip={{icon.url.slice(64)}} tooltipPosition="bottom" class="arrangeViewDes">
										{{icon.url.slice(64).slice(0,10)}}</p>
								</div>
							</div>
						</ng-container>
					</div>
					<button class="btn updatedSelection" [disabled]="!this.updatedPublishedArray?'disabled' : null"
						(click)="updateSelection()">{{'banner.UpdateSelection' |translate}}</button>
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>
</div>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>
<p-toast position="bottom-center" key="bc"></p-toast>