.container-xxl {
    .fullViewBut {
        background-color: var(--main-color);
        padding: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
    }

    .heading {
        font-size: 13px !important;
        color: var(--secondary-color) !important;
        margin: 1rem 0 !important;
    }

    .topBar {
        .greyBox {
            background-color: #fbfbfb;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 0.5rem;
            position: relative;
            height: 190px;
            .innerContent {
                font-size: 90% !important;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;

                .detail-input {
                    label {
                        color: var(--secondary-color);
                    }

                    input {
                        border-bottom: 1px solid var(--secondary-color) !important;
                        border: none;
                        border-radius: 0 !important;
                        background-color: transparent;
                        font-size: 18px;
                        color: var(--main-color);
                        font-weight: bold;
                        padding-left: 0;
                    }

                    ::ng-deep {
                        .p-multiselect {
                            border: none;
                            border-bottom: 1px solid #5555;
                            border-radius: 0;
                        }

                        .p-dropdown {
                            border-bottom: 1px solid var(--secondary-color) !important;
                            border: none;
                            border-radius: 0 !important;
                            background-color: transparent;
                            font-size: 18px;
                            margin: 0 !important;

                            .p-dropdown-label {
                                padding-left: 0;
                                color: var(--main-color);
                            }

                            .p-dropdown-label.p-placeholder {
                                color: #6c757d !important;
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            }

            .noPlayer {
                position: absolute;
                top: 61%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #bfbfbf;
            }
        }
    }

    .right-eventHandler {
        .iconBox:not(:last-child) {
            margin-right: 0.2rem;
        }

        .iconBox {
            padding: 8px 6px;
            border-radius: 3px;
            border: 1px solid #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg.merge {
                rotate: 180deg;
                width: 12px !important;
            }
        }
    }

    .groups {
        .accordianHeader {
            width: 100%;
        }

        .accordianContent {
            .p-inputtext {
                max-height: 32px;
                color: black;
                margin: 5px 0;
            }

            .p-inputtext::placeholder {
                color: black;
            }
        }

        ::ng-deep {
            .p-accordion .p-accordion-content {
                padding: 0.4rem;
            }

            // .p-datatable .p-datatable-tbody > tr > td {
            //     padding: 0 !important;
            // }
            .p-button-icon {
                font-size: 12px !important;
            }

            .p-dropdown {
                max-height: 35px !important;
            }
        }

        .iconBox {
            border: 1px solid #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 8px 6px;
            height: 32px;
            border-radius: 3px;

            svg.merge {
                rotate: 90deg;
                width: 12px !important;
            }
        }

        .header-add {
            padding: 8px 6px;
        }

        .p-button:focus {
            box-shadow: none;
        }

        .p-button.p-button-icon-only.p-button-rounded {
            width: 1.5rem;
            height: 1.5rem;
            padding: 0.2rem;
        }
    }
    .dialog {
        .greyBox {
            height: 620px !important;
            max-height: 620px !important;
        }
    }

    .bottomBar {
        .greyBox {
            height: auto !important;
            max-height: 350px;
            overflow: hidden;
            overflow-y: auto;
        }
    }

    ::ng-deep {
        .common-table {
            .p-datatable-table {
                font-size: 90% !important;
            }

            .p-datatable-thead > tr > th {
                border: none;
                padding: 0.5rem 1rem;
                text-align: center;
            }

            .p-datatable-tbody > tr > td {
                padding: 0.5rem 1rem;
                font-size: 90%;
                white-space: nowrap;
                text-align: center;
            }
        }
    }
}

.gridRemove {
    color: #ff783e;
}
.fixture-header {
    display: flex;
    .round-name {
        width: 230px;
        color: turquoise;
        text-align: center;
        padding: 15px 25px;
        font-weight: bold;
        div {
            width: 200px;
        }
    }
}
.common-popup {
    .rest-players{
        max-height: 40vh;
        overflow: hidden;
        overflow-y: auto;
    }
    .topBar,
    .player-list {
        padding: 10px 5px;
    }
}
.dropdownIcon {
    ::ng-deep {
        .p-button.p-button-text.p-button-plain:enabled:hover {
            background: #0000000d;
        }

        .p-button:focus {
            box-shadow: none !important;
        }
    }
}
.player-empty.greyBox {
    background-color: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 500px;
    .innerContent {
        flex-direction: column;
    }
}
.btnDone {
    width: 260px !important;
}
